@page
@model PIBasesISGrupo1.Pages.Eventos.RegistrarmeEnEventoVirtualModel
@{
    ViewData["Title"] = "RegistrarmeEnEventoVirtual";
    var nombreEvento = (string)ViewData["nombreEvento"];
    var canalDeStream = (string)ViewData["canalDeStream"];
    var emailCoordinador = (string)ViewData["emailCoordinador"];
    var fechaYHora = (DateTime)ViewData["fechaYHora"];
    var cuposDisponibles = (int)ViewData["cuposDisponibles"];
    var mensaje = (string)TempData["mensaje"];
}


<head>
    <style type="text/css">
        body {
            background-image: url("/img/event/evento2.jpg");
            background-size: 150%;
        }

        ul.tabs li {
            width: 33%;
        }

        .center-login {
            margin: 0;
            margin-left: 30%;
        }

        .left-login {
            text-align: left;
        }
    </style>
</head>

<div class="cursos-container-2">
    <div class="cajita-cursos col-lg-12" style="width:80%; margin-left:10%;">
        <div class="col-lg-12 right-contents">
            <div style="background-color:#002347; height:70px;">
                <h2 class="title_color align-content-lg-center centrar" style="color:#fdc632; padding:1%;">@nombreEvento</h2>
            </div>
            <hr class="new5">
            <ul>
                <li>
                    <a class="justify-content-between d-flex">
                        <p>Canal: </p>
                        <span>@canalDeStream</span>
                    </a>
                </li>
                <li>
                    <a class="justify-content-between d-flex">
                        <p>Fecha: </p>
                        <span>@fechaYHora.ToString()</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

@if (mensaje != null)
{
    <div style="text-align:center;">
        <h2 style="display:inline-block;" class="alert alert-danger">@mensaje
        </h2>
    </div>
}

<div class="modal-dialog" role="document">
    <div class="modal-content center" style="margin-bottom:150px; margin-top:-30px;">
        <div class="modal-header">
            <div class="center-login">
                <img class="logo-2" src="~/img/logo.png" alt="" />
            </div>
        </div>
        <div class="modal-body">
            <div style="">
                <div class="login-form" style="text-align:center;">
                    <form method="post">
                        <!--Aqui va lo de elegir ubicacion de sus asientos-->
                        <input type="hidden" asp-for="@Model.evento.emailCoordinador" value="@emailCoordinador" />
                        <input type="hidden" asp-for="@Model.evento.nombre" value="@nombreEvento" />
                        <input type="hidden" asp-for="@Model.evento.fechaYHora" value="@fechaYHora" />
                        <input type="hidden" asp-for="@Model.evento.nombreCanalStream" value=@canalDeStream />
                        @if (cuposDisponibles >= 1)
                        {
                            <h3 style="margin-bottom:20px;">La cantidad actual de cupos disponibles para este evento es: </h3>
                            <h3>@cuposDisponibles</h3>
                            <br>
                            <h3>Ingrese la cantidad de cupos deseados</h3>
                            <input style="margin-bottom:30px;" min="1" max="@cuposDisponibles" asp-for="@Model.cuposSolicitados" />
                            <br>
                            <input type="submit" class="primary-btn text-uppercase enroll" value="Confirmar" asp-page-handler="RegistrarmeEnElEvento" />
                        }
                        else
                        {
                            <h2 style="margin-bottom:20px;">Agotado</h2>
                            <a href="~/Eventos/MostrarEventos" class="primary-btn text-uppercase enroll">Volver</a>
                        }
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>