@page
@model PIBasesISGrupo1.Pages.Eventos.RegistrarEventoModel
@{
    ViewData["Title"] = "RegistrarEvento";
    var evento = (PIBasesISGrupo1.Models.Evento)ViewData["evento"];
}


<head>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/flaticon.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="css/themify-icons.css" />
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css" />
    <style>
        .subir {
            padding: 5px 10px;
            background: #424242;
            color: #fff;
            border: 0px solid #fff;
        }

            .subir:hover {
                color: #fff;
                background: #848484;
            }

        select {
            color: #848484;
        }

        body {
            background-image: url("/img/registro/registrarme.jpg");
            background-size: 100%;
        }

        .margen-registro {
            margin: 1%;
            padding: 1%;
            width: 300px;
        }

        .center-login {
            margin: 0;
            align-content: center;
        }
    </style>

</head>

@Html.AntiForgeryToken()
<div class="offset-lg-4">
    <div class="align-self-md-center col-lg-8 col-md-8">


        <form id="myForm" method="post" enctype="multipart/form-data">
            <div class="col-lg-8 col-md-8">
                <div class="modal-content margen-registro">
                    <div class="margen-registro">
                        <h3 class="mb-30 title_color">Registrar evento</h3>

                        <div class="mt-10">
                            <span asp-validation-for="@evento.nombre" class="text-danger"></span>
                            <input asp-for="@evento.nombre" placeholder="Ingrese el nombre del evento" class="single-input" />
                        </div>
                        <div class="mt-10">
                            <span asp-validation-for="@evento.fechaYHora" class="text-danger"></span>
                            <label asp-for="@evento.fechaYHora" class="single-input">Ingresa una fecha y hora </label>
                            <input type="date" asp-for="@evento.fechaYHora" class="single-input" />
                        </div>
                        <div class="mt-10">
                            <span asp-validation-for="@evento.descripcionDelEvento" class="text-danger"></span>
                            <textarea rows="3" cols="10" asp-for="@evento.descripcionDelEvento" placeholder="Ingrese la descripcion del evento" class="single-input"></textarea>
                        </div>
                        <div class="mt-10 ">
                            <label for="file-upload" class="subir">
                                <i class="fas fa-cloud-upload-alt"></i> Seleccionar imagen del evento
                            </label>
                            <span asp-validation-for="@Model.archivoImagen" class="text-danger"></span>
                            <input asp-for="@Model.archivoImagen" id="file-upload" onchange='cambiar()' type="file" style='display: none;' class="single-input" />
                            <div id="info"></div>
                        </div>
                        <div class="mt-10 single-input">
                            <input asp-for="@evento.tipo" type="radio" value="Virtual" onchange="tipoEvento('Virtual')" />
                            <label asp-for="@evento.tipo">Virtual</label>
                            <input asp-for="@evento.tipo" type="radio" value="Presencial" onchange="tipoEvento('Presencial')" />
                            <label asp-for="@evento.tipo">Presencial</label>
                        </div>


                        <div id="Virtual" class="mt-10" style="display:none">
                            <span asp-validation-for="@evento.nombreCanalStream" class="text-danger"></span>
                            <input asp-for="@evento.nombreCanalStream" placeholder="Ingrese el nombre del canal del stream" class="single-input" />

                            <div class="mt-20">
                                <input type="submit" value="Registrar" class="primary-btn offset-lg-3" />
                            </div>
                        </div>


                        <div id="Presencial" class="mt-10" style="display:none">
                            <span asp-validation-for="@evento.lugar" class="text-danger"></span>
                            <input asp-for="@evento.lugar" placeholder="Ingrese el nombre del lugar del evento" class="single-input" />

                            <div>
                                <label id="errorNombreSector" class="text-danger" style="display:none">Es necesario que ingrese el nombre del sector</label>
                                <input type="text" placeholder="Ingrese el nombre del sector" id="nombreSector" class="single-input" />

                                <label id="errorCantidadAsientos" class="text-danger" style="display:none">Es necesario que ingrese la cantidad de asientos</label>
                                <input type="number" placeholder="Ingrese la cantidad de asientos" id="cantidadDeAsientos" class="single-input" />

                                <label id="errorTipoSector" class="text-danger" style="display:none">Es necesario que ingrese el tipo de sector</label>
                                <input name="tipoAsiento" type="radio" value="Numerado" />
                                <label>Numerado</label>

                                <input name="tipoAsiento" type="radio" value="No Numerado" />
                                <label>No Numerado</label>
                                <div class="mt-20">
                                    <button value="Agregar Sector" class="primary-btn offset-lg-3" id="añadirSector">Boton Prueba</button>
                                </div>
                                <table class="table">
                                    <thread>
                                        <tr>
                                            <th>
                                                <h3>Nombre sector</h3>
                                            </th>
                                            <th>
                                                <h3>Cantidad de asientos</h3>
                                            </th>
                                            <th>
                                                <h3>Tipo de sector</h3>
                                            </th>
                                        </tr>
                                    </thread>
                                    <tbody>

                                        <tr>
                                            <td>

                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="mt-20">
                                <input type="submit" value="Registrar" class="primary-btn offset-lg-3" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="js/owl-carousel-thumb.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/mail-script.js"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="js/gmaps.min.js"></script>
<script src="js/theme.js"></script>
<script>
    function cambiar() {
        var pdrs = document.getElementById('file-upload').files[0].name;
        document.getElementById('info').innerHTML = pdrs;
    }
    function tipoEvento(tipo) {
        var tipoEventoAMostrar = document.getElementById(tipo);
        if (tipo == "Virtual") {
            var tipoEventoOculto = document.getElementById("Presencial");
            tipoEventoOculto.style.display = "none";
            tipoEventoAMostrar.style.display = "block";
        }
        else {
            var tipoEventoOculto = document.getElementById("Virtual");
            tipoEventoAMostrar.style.display = "block";
            tipoEventoOculto.style.display = "none";
        }
    }
</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#añadirSector").click(function () {
            $.ajax({
                type: "POST",
                url: "/Eventos/RegistrarEvento?handler=AñadirSector",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: { "nombre": $("#nombreSector").val(), "cantidadDeAsientos": $("#cantidadDeAsientos").val(), "tipoAsiento": $('input:radio[name=tipoAsiento]:checked').val()},
                success: function (response) {
                    if (response == "error") {
                        //document.getElementById("errorNombreSector").style.display = "block";
                        alert("Hubo un error");
                    }
                    else {
                       
                    }
                }
            });
        });
    });
</script>
<scripts>


    @section scripts{
        <partial name="_ValidationScriptsPartial" />
    }
</scripts>