@page
@model PIBasesISGrupo1.Pages.Eventos.RegistrarmeEnEventoPresencialNumeradoModel
@{
    ViewData["Title"] = "RegistrarmeEnEventoPresencialNumerado";
    var nombreEvento = (string)ViewData["nombreEvento"];
    var lugarEvento = (string)ViewData["lugarEvento"];
    var emailCoordinador = (string)ViewData["emailCoordinador"];
    var fechaYHora = (DateTime)ViewData["fechaYHora"];
    var listaSectoresNumerados = (List<PIBasesISGrupo1.Models.Sector>)ViewData["listaSectoresNumerados"];
    var listaSectoresNoNumerado = (List<PIBasesISGrupo1.Models.Sector>)ViewData["listaSectoresNoNumerados"];
}


<head>
    <style type="text/css">
        body {
            background-image: url("/img/event/evento3.jpg");
            background-size: 100%;
        }

        ul.tabs li {
            width: 33%;
        }

        .center-login {
            margin: 0;
            margin-left: 30%;
        }

        .left-login {
            text-align: left;
        }
    </style>
</head>


@Html.AntiForgeryToken()
<div class="cursos-container-2">
    <div class="cajita-cursos col-lg-12" style="width:80%; margin-left:10%;">
        <div class="col-lg-12 right-contents">
            <div style="background-color:#002347; height:70px;">
                <h2 class="title_color align-content-lg-center centrar" style="color:#fdc632; padding:1%;">@nombreEvento</h2>
            </div>
            <hr class="new5">
            <ul>
                <li>
                    <a class="justify-content-between d-flex">
                        <p>Lugar: </p>
                        <span>@lugarEvento</span>
                    </a>
                </li>
                <li>
                    <a class="justify-content-between d-flex">
                        <p>Fecha: </p>
                        <span>@fechaYHora.ToString()</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="wrap">
    <ul class="tabs">
        <li><span class="tab-text "> 1. Cantidad de asientos </span></li>
        <li><span class="tab-text "> 2. Elija sus asientos </span></li>
        <li><span class="tab-text "> 3. Confirme registro </span></li>
    </ul>
    <div class="secciones">
        <article id="tab1" style="margin-bottom:200px;">

            <div class="modal-dialog" role="document">
                <div class="modal-content center">
                    <div class="modal-header">
                        <div class="center-login">
                            <img class="logo-2" src="~/img/logo.png" alt="" />
                        </div>
                    </div>
                    <div class="modal-body">
                        <div style="">
                            <h2 class="modal-title">Seleccione el tipo de sector</h2>
                            <div class="login-form">
                                <form>
                                    <label style="display:none" class="text-danger" id="ErrorTipoSector">Por favor ingrese un tipo de sector</label>
                                    @if (listaSectoresNumerados.Count>0)
                                    {
                                        <label>
                                            <input type="radio" name="type" onchange="tipoSector('Numerado')" value="Numerado" required>
                                            Numerado
                                        </label><br>
                                    }

                                    @if (listaSectoresNoNumerado.Count>0)
                                    {
                                        <label>
                                            <input type="radio" name="type" onchange="tipoSector('No Numerado')" value="No Numerado">
                                            No numerado
                                        </label><br>
                                    }

                                    <input type="submit" style="display:none" />
                                </form>
                                <div class="center-login">
                                    <input type="button" value="Siguiente" class="primary-btn text-uppercase enroll" onclick="cambioDeTab('tab1','tab2')" />
                                </div>
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </article>
        
        <article id="tab2" style="display:none; margin-bottom:200px;">
            <div id="registroNumerado" style="display:none">
                <div class="modal-dialog" role="document">
                    <div class="modal-content center">
                        <div class="modal-header">
                            <div class="center-login">
                                <img class="logo-2" src="~/img/logo.png" alt="" />
                            </div>
                        </div>
                        <div class="modal-body">
                            <div>
                                <h2 class="modal-title">Seleccione la ubicación de sus asientos</h2>
                                <div class="login-form">

                                    <div class="input-group mt-10" style="margin-bottom:30px;">
                                        <select style="width: 465px;" class="mul-select2" id="seleccionarSector" onchange="obtenerAsientos(); ubicacionElegida('seleccionarSector');" required>
                                            <option value="SinSeleccion">- Sin selección -</option>
                                            @foreach (var sector in listaSectoresNumerados)
                                            {
                                                <option value="@sector.nombreDeSector">@sector.nombreDeSector</option>

                                            }
                                        </select>
                                    </div>
                                    <h2 class="modal-title">Seleccione su numero de asiento</h2>

                                    <label style="display:none" class="text-danger" id="ErrorSeleccionarAsientos">Por favor ingrese los asientos que desea</label>
                                    <div id="elegirNumeroAsiento" style="display:none">
                                        <select style="width: 465px;" class="mul-select" multiple id="seleccionarAsiento" required></select>
                                    </div>


                                    <br>
                                    <div class="center-login">
                                        <input style="margin-left:-30px;" class="primary-btn text-uppercase enroll" id="mostrarAsientosElegidos" onclick="asientosElegidos(); cambioDeTab('tab2', 'tab3');" value="Siguiente" />
                                    </div>

                                    <br>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div id="registroNoNumerado" style="display:none">
                <div class="modal-dialog" role="document">
                    <div class="modal-content center">
                        <div class="modal-header">
                            <div class="center-login">
                                <img class="logo-2" src="~/img/logo.png" alt="" />
                            </div>
                        </div>
                        <div class="modal-body">
                            <div>
                                <h2 class="modal-title">Seleccione la ubicación de sus asientos</h2>
                                <div class="login-form">

                                    <div class="input-group mt-10">
                                        <select style="width: 465px;" class="mul-select2" id="seleccionarSectorNoNumerado" onchange="obtenerCantidadAsientos(); ubicacionElegida('seleccionarSectorNoNumerado');" required>
                                            <option value="SinSeleccion">- Sin selección -</option>
                                            @foreach (var sector in listaSectoresNoNumerado)
                                            {
                                                <option value="@sector.nombreDeSector">@sector.nombreDeSector</option>

                                            }
                                        </select>
                                    </div>

                                    <div id="obtenerCantidadAsientosDeSector" style="display:none">
                                        <h2 class="modal-title">Seleccione la cantidad de asientos</h2>
                                        <h2 class="modal-title">Quedan en este sector:</h2>
                                        <input type="number" id="obtenerNumeroDeAsientos" value="" readonly />
                                        <h2>asientos</h2>
                                        <label style="display:none" class="text-danger" id="ErrorNumeroAsientosVacio">Por favor ingrese un numero</label>
                                        <label style="display:none" class="text-danger" id="ErrorNumeroAsientos">Por favor ingrese un numero valido</label>
                                        <input type="number" id="cantidadDeAsientos" onchange="cantidadAsientosValida()" min="1" required />
                                    </div>

                                    <br>
                                    <div class="center-login">
                                        <input class="primary-btn text-uppercase enroll" id="mostrarCantidadAsientosElegida" onclick="cantidadAsientosElegida(); cambioDeTab('tab2', 'tab3');" value="Siguiente" />
                                    </div>

                                    <br>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </article>
        <article id="tab3" style="display:none; margin-bottom:200px;">
            <div class="modal-dialog" role="document">
                <div class="modal-content center">
                    <div class="modal-header">
                        <div class="center-login">
                            <img class="logo-2" src="~/img/logo.png" alt="" />
                        </div>
                    </div>
                    <div class="modal-body">
                        <div style="">
                            <h2 class="modal-title" style="margin-bottom:30px;">Seleccionado</h2>
                            <div class="login-form">
                                <form method="post">
                                    <!--Aqui va lo de elegir ubicacion de sus asientos-->
                                    <input type="hidden" asp-for="@Model.registro.emailCoordinador" id="registroEmailCoordinador" value="@emailCoordinador" />
                                    <input type="hidden" asp-for="@Model.registro.nombreEvento" id="registroNombreEvento" value="@nombreEvento" />
                                    <input type="hidden" asp-for="@Model.registro.fechaYHora" id="registroFechaYHora" value="@fechaYHora" />
                                    <input type="hidden" asp-for="@Model.registro.tipoDeSector" id="registroTipo" value="" />
                                    
                                    <div style="text-align:center; margin-bottom:30px; width:auto;">
                                        <h2>Ubicacion</h2>
                                        <input style="border:none; text-align:center" asp-for="@Model.registro.nombreSector" id="ubicacionEscogida" value="" readonly />
                                    </div>

                                    <div id="asientosElegidos" style="display:none; text-align:center; margin-bottom:30px; width:auto;">
                                        <h2>Asientos</h2>
                                        <input style="border:none; text-align:center;" asp-for="@Model.registro.asientosElegidos" id="asientosEscogidos" value="" readonly />

                                    </div>
                                    <div id="cantidadAsientosElegidos" style="display:none; text-align:center; margin-bottom:30px; width:auto;">
                                        <h2>Cantidad</h2>
                                        <input style="border:none; text-align:center" asp-for="@Model.registro.cantidadAsientos" id="cantidadAsientos" value="" readonly />
                                    </div>

                                    <div style="text-align:center; width:auto;">
                                        <input type="submit" class="primary-btn text-uppercase enroll" value="Confirmar" asp-page-handler="RegistrarmeEnElEvento" />
                                    </div>
</form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </article>
    </div>
</div>



<script>
    function ubicacionElegida(seleccionTipoSector) {
        var elem = document.getElementById(seleccionTipoSector).value;
        document.getElementById("ubicacionEscogida").value = "" + elem + "";
    }
    function asientosElegidos() {
        var values = $('#seleccionarAsiento').val();
        document.getElementById("asientosEscogidos").value = "" + values + "";
    }
    function tipoSector(tipo) {
        if (tipo == "Numerado") {
            document.getElementById("registroNumerado").style.display = "block";
            document.getElementById("registroNoNumerado").style.display = "none";

            document.getElementById("asientosElegidos").style.display = "block";
            document.getElementById("cantidadAsientosElegidos").style.display = "none";


            document.getElementById("registroTipo").value = "" + tipo + "";
        }
        else {
            document.getElementById("registroNoNumerado").style.display = "block";
            document.getElementById("registroNumerado").style.display = "none";

            document.getElementById("asientosElegidos").style.display = "none";
            document.getElementById("cantidadAsientosElegidos").style.display = "block";

            document.getElementById("registroTipo").value = "" + tipo + "";
        }
    }
    function cantidadAsientosElegida() {
        var elem = document.getElementById("cantidadDeAsientos").value;
        document.getElementById("cantidadAsientos").value = "" + elem + "";
    }
    function cantidadAsientosValida() {
        var numeroAsientosTotales = document.getElementById("obtenerNumeroDeAsientos").value;
        var asientoSolicitados = document.getElementById("cantidadDeAsientos").value;
        if ((Number.parseInt(asientoSolicitados) > Number.parseInt(numeroAsientosTotales))) {
            document.getElementById("ErrorNumeroAsientos").style.display = "block";
        }
        else {
            document.getElementById("ErrorNumeroAsientos").style.display = "none";
        }
    }
    function cambioDeTab(tabActual, tabSiguiente) {
        if (tabActual == "tab1") {
            var checkRadio = document.querySelector(
                'input[name="type"]:checked');
            if (checkRadio != null) {
                document.getElementById(tabActual).style.display = "none";
                document.getElementById(tabSiguiente).style.display = "block";
                document.getElementById("ErrorTipoSector").style.display = "none";
            }
            else {
                document.getElementById("ErrorTipoSector").style.display = "block";
            }

        }
        else {
            var ubicacionElegida = document.getElementById("ubicacionEscogida").value;
            var cantidadAsientos = document.getElementById("cantidadAsientos").value;
            var asientosEscogidos = document.getElementById("asientosEscogidos").value;
            if (ubicacionElegida != "") {
                if (cantidadAsientos == "") {
                    document.getElementById("ErrorNumeroAsientosVacio").style.display = "block";
                }
                if (asientosEscogidos == "") {
                    document.getElementById("ErrorSeleccionarAsientos").style.display = "block";
                }
                if ((asientosEscogidos != "") || (cantidadAsientos != "")) {
                    document.getElementById("ErrorNumeroAsientosVacio").style.display = "none";
                    document.getElementById("ErrorSeleccionarAsientos").style.display = "none";
                    document.getElementById(tabActual).style.display = "none";
                    document.getElementById(tabSiguiente).style.display = "block";
                }
            }
        }

    }
</script>


<script type="text/javascript">
    function obtenerAsientos() {

        $.ajax({
            type: "POST",
            url: "/Eventos/RegistrarmeEnEventoPresencial?handler=ElegirAsientos",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: { "nombreSectorElegido": $("#seleccionarSector").val(), "nombreEvento": $("#registroNombreEvento").val(), "emailCoordinador": $("#registroEmailCoordinador").val(), "fechaYHora": $("#registroFechaYHora").val() },
            success: function (response) {
                if (response.asientosDisponibles != null) {
                    document.getElementById("elegirNumeroAsiento").style.display = "block";
                    document.getElementById("seleccionarAsiento").innerHTML = "";
                    for (var i = 0; i < response.asientosDisponibles.length; i++) {
                        var newOption = new Option(response.asientosDisponibles[i], response.asientosDisponibles[i], false, false);
                        $('#seleccionarAsiento').append(newOption).trigger('change');
                    }
                }
                else {
                    document.getElementById("elegirNumeroAsiento").style.display = "none";
                }

            }
        });

    }
</script>

<script type="text/javascript">
    function obtenerCantidadAsientos() {

        $.ajax({
            type: "POST",
            url: "/Eventos/RegistrarmeEnEventoPresencial?handler=CantidadAsientos",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: { "nombreSectorElegido": $("#seleccionarSectorNoNumerado").val(), "nombreEvento": $("#registroNombreEvento").val(), "emailCoordinador": $("#registroEmailCoordinador").val(), "fechaYHora": $("#registroFechaYHora").val() },
            success: function (response) {
                if (response.cantidadAsientos != null) {
                    document.getElementById("obtenerCantidadAsientosDeSector").style.display = "block";
                    document.getElementById("obtenerNumeroDeAsientos").value = "" + response.cantidadAsientos + "";

                }
                else {
                    document.getElementById("obtenerCantidadAsientosDeSector").style.display = "none";
                    document.getElementById("obtenerNumeroDeAsientos").value = "";
                }

            }
        });

    }
</script>


