@page
@model PIBasesISGrupo1.Pages.Miembros.CrearMiembroModel
@{
    ViewData["Title"] = "CrearMiembro";
    var mensaje = (string)TempData["mensaje"];
}
<h2>Registrarme</h2>
<form method="post" enctype="multipart/form-data">
    @if (@mensaje != null)
    {
        if ((bool)TempData["exitoAlEditar"])
        {
            <div class="alert-success">

                <h3> @mensaje </h3>
            </div>
        }
        else
        {
            <div class="alert-danger">

                <h3> @mensaje </h3>
            </div>
        }
    }
    <div>
        <span asp-validation-for="@Model.miembro.nombre" class="text-danger"></span>
        </br>
        Nombre: <input asp-for="@Model.miembro.nombre" />
    </div>
    <div>
        <span asp-validation-for="@Model.miembro.primerApellido" class="text-danger"></span>
        </br>
        Primer Apellido: <input asp-for="@Model.miembro.primerApellido" />

    </div>
    <div>
        <span asp-validation-for="@Model.miembro.segundoApellido" class="text-danger"></span>
        </br>
        Segundo apellido: <input asp-for="@Model.miembro.segundoApellido" />
    </div>
    <div>
        <span asp-validation-for="@Model.miembro.genero" class="text-danger"></span>
        </br>
        Genero: <input asp-for="@Model.miembro.genero" />
    </div>
    <div>
        <span asp-validation-for="@Model.miembro.pais" class="text-danger"></span>
        </br>
        Pais: <input asp-for="@Model.miembro.pais" />
    </div>
    <div>
        <span asp-validation-for="@Model.miembro.hobbies" class="text-danger"></span>
        </br>
        Hobbies: <input asp-for="@Model.miembro.hobbies" />
    </div>
    <div>
        <span asp-validation-for="@Model.miembro.email" class="text-danger"></span>
        </br>
        Email: <input asp-for="@Model.miembro.email" />
    </div>
    <div>
        <span asp-validation-for="@Model.miembro.password" class="text-danger"></span>
        </br>
        Contraseña: <input asp-for="@Model.miembro.password" />
    </div>
    </br>
    Subir foto: <input asp-for="@Model.archivoImagen" type="file" class="btn btn alert-info" />
    </br>
    <p>
        <strong>Para seleccionar mas de un idioma mantenga apretado Control + click</strong>
    </p> <select asp-for="@Model.miembro.idioma" multiple size="11">
        <option value="Arabe">Arabe</option>
        <option value="Aleman">Aleman</option>
        <option value="Bengali">Bengali</option>
        <option value="Español">Español</option>
        <option value="Frances">Frances</option>
        <option value="Hindi">Hindi</option>
        <option value="Ingles">Ingles</option>
        <option value="Mandarin">Mandarin</option>
        <option value="Panyabí">Panyabí</option>
        <option value="Portugues">Portugues</option>
        <option value="Ruso">Ruso</option>
    </select></br>
         <div id="numeroPreguntas">

             <label for='canpreg'>Cantidad de habilidades:</label>
             <input type='text' id='canpreg' name='canpreg'>


             <form>
                 <input type="button"
                        asp-for="@Model.miembro.habilidad " onclick="miFuncion()"
                        value="Activar Función">
             </form>
           

             <input type="submit" value=" Enviar" class="btn btn-success" />

</form>
<script type="text/javascript">
    function miFuncion() {
        var x = document.getElementById("canpreg").value
        var habilidades= []
        for (i = 1; i <= x; i++) {
            var customerName = prompt("Favor ingrese habilidad " + i, "escriba aqui ");
            habilidades.push(customerName);
             
        }
        var str = 'hello there';
        document.getElementById('para').innerHTML = habilidades
        //document.write(habilidades);
        return habilidades
        
    }
 
 
    
    
</script>

<scripts>


    @section scripts{
        <partial name="_ValidationScriptsPartial" />
    }


