@page
@model PIBasesISGrupo1.Pages.Miembros.CrearMiembroModel
@{
    ViewData["Title"] = "CrearMiembro";
}
<h2>Registrarme</h2>
<form method="post">
    <input asp-for="@Model.Miembro.Nombre" placeholder="Nombre" />
    <input asp-for="@Model.Miembro.PrimerApellido" placeholder="Primer apellido" />
    <input asp-for="@Model.Miembro.SegundoApellido" placeholder="Segundo apellido" /></br></br>
    <input asp-for="@Model.Miembro.Genero" placeholder="Genero" /></br></br>
    <input asp-for="@Model.Miembro.Nacionalidad" placeholder="Nacionalidad" /></br></br>
    <input asp-for="@Model.Miembro.Email" placeholder="Correo" /></br></br>
    <input asp-for="@Model.Miembro.Password" placeholder="Contraseña" /></br></br>
    <input asp-for="@Model.Miembro.Hobbies" placeholder="Hobbies" /></br></br>
    <input type="submit" value=" Enviar" asp-page-handler="Miembro" />
</form>


