@page
@model PIBasesISGrupo1.Pages.Miembros.CrearMiembroModel
@{
    ViewData["Title"] = "CrearMiembro";
    var mensaje = (string)TempData["mensaje"];
    var idiomas = (string[])ViewData["idiomas"];




}
<h2>Registrarme</h2>
<form method="post" enctype="multipart/form-data">
    @if (@mensaje != null)
    {
        if ((bool)TempData["exitoAlEditar"])
        {
            <div class="alert-success">

                <h3> @mensaje </h3>
            </div>
        }
        else
        {
            <div class="alert-danger">

                <h3> @mensaje </h3>
            </div>
        }
    }
    <div>
        <span asp-validation-for="@Model.miembro.nombre" class="text-danger"></span>
        </br>
        <strong>Nombre:</strong> <input asp-for="@Model.miembro.nombre" />
    </div>
    <div>
        <span asp-validation-for="@Model.miembro.primerApellido" class="text-danger"></span>
        </br>
        <strong>Primer Apellido:</strong> <input asp-for="@Model.miembro.primerApellido" />

    </div>
    <div>
        <span asp-validation-for="@Model.miembro.segundoApellido" class="text-danger"></span>
        </br>
        <strong>Segundo apellido:</strong> <input asp-for="@Model.miembro.segundoApellido" />
    </div>
    <div>
        <span asp-validation-for="@Model.miembro.genero" class="text-danger"></span>
        </br>
        <strong>Genero:</strong>
        </br>
        <input type="radio" asp-for="@Model.miembro.genero" value="Femenino" />Femenino<br />
        <input type="radio" asp-for="@Model.miembro.genero" value="Masculino" />Masculino<br />

    </div>
    <div>
        <span asp-validation-for="@Model.miembro.pais" class="text-danger"></span>
        </br>
        <strong>Pais:</strong> <input asp-for="@Model.miembro.pais" />
    </div>
    <div>
        <span asp-validation-for="@Model.miembro.hobbies" class="text-danger"></span>
        </br>
        <strong>Hobbies:</strong> <input asp-for="@Model.miembro.hobbies" />
    </div>
    <div>
        <span asp-validation-for="@Model.miembro.email" class="text-danger"></span>
        </br>
        <strong>Email:</strong> <input asp-for="@Model.miembro.email" />
    </div>
    <div>
        <span asp-validation-for="@Model.miembro.password" class="text-danger"></span>
        </br>
        <strong>Contraseña:</strong> <input asp-for="@Model.miembro.password", type="password"/>
    </div>
    </br>
    <strong>Subir foto:</strong> <input asp-for="@Model.archivoImagen" type="file" class="btn btn alert-info" />
    </br>
    <p>
        <strong>Para seleccionar mas de un idioma mantenga apretado Control + click</strong>
    </p> <select class="mul-select" asp-for="@Model.miembro.idiomas" multiple size="  @idiomas.Length">
    
    <option value="Arabe">Arabe</option>
    @foreach (var idioma in idiomas)
    {

    <option value="@idioma">@idioma</option>

        <br>
    }
</select></br>
 
    <p><strong>Para seleccionar mas de una habilidad mantenga apretado Control + click</strong>
    </p> <select class="mul-select" asp-for="@Model.miembro.habilidades" multiple="multiple" size="15">
        <option value="Empatia">Empatía</option>
        <option value="Saber escuchar">Saber escuchar</option>
        <option value="Liderazgo">Liderazgo</option>
        <option value="Flexibilidad">Flexibilidad</option>
        <option value="Optimismo">Optimismo</option>
        <option value="Confianza">Confianza</option>
        <option value="Optimismo">Optimismo</option>
        <option value="Confianza">Confianza</option>
        <option value="Comunicacion">Comunicacion</option>
        <option value="Convencimiento">Convencimiento</option>
        <option value="Esfuerzo">Esfuerzo</option>
        <option value="Dedicacion">Dedicacion</option>
        <option value="Comprension">Comprension</option>
        <option value="Asertividad">Asertividad</option>
        <option value="Credibilidad">Credibilidad</option>
    </select></br>
    <input type="submit" value=" Enviar" class="btn btn-success" />

</form>


<scripts>


    @section scripts{
        <partial name="_ValidationScriptsPartial" />
    }


