@page
@model PIBasesISGrupo1.Pages.Miembros.DesplegarMiembrosModel


@{
    ViewData["Title"] = "DesplegarMiembros";
    
}

<strong>Miembros de nuestra comunidad</strong>


<br />
<br />
@foreach (var miembro in (List<PIBasesISGrupo1.Models.Miembro>)ViewData["Miembros"])
{
    <tr>
        <td>

            <p>
                Nombre Completo: @miembro.Nombre @miembro.PrimerApellido
                @if (@miembro.SegundoApellido != null)
                {
                    @miembro.SegundoApellido
                }
                <br />
                Genero: @miembro.Genero<br />
                Nacionalidad: @miembro.Nacionalidad<br />
                Hobbies: @miembro.Hobbies<br />
                Email: @miembro.Email<br />

                <a href="~/Miembros/EditarMiembro?email=@miembro.Email">Edit</a>


              



            </p>

        </td>

    </tr>
}
