@page
@model PIBasesISGrupo1.Pages.Miembros.DesplegarMiembrosModel


@{
    ViewData["Title"] = "DesplegarMiembros";
   
    
}

<strong>Miembros de nuestra comunidad</strong>


<br />
<br />
@foreach (var miembro in (List<PIBasesISGrupo1.Models.Miembro>)ViewData["Miembros"])
{
    <tr>
        <td>

            <p>
                Nombre Completo: @miembro.nombre @miembro.primerApellido
                @if (@miembro.segundoApellido != null)
                {
                    @miembro.segundoApellido
                }
                <br />
                Genero: @miembro.genero<br />
                Nacionalidad: @miembro.pais<br />
                Hobbies: @miembro.hobbies<br />
                Email: @miembro.email<br />

                <a href="~/Miembros/EditarMiembro?email=@miembro.email">Edit</a>


              



            </p>

        </td>

    </tr>
}
