@page
@model PIBasesISGrupo1.Pages.Miembros.DesplegarMiembrosModel


@{
    ViewData["Title"] = "DesplegarMiembros";



}

<br />
<div class="row justify-content-center">
    <div class="col-lg-5">
        <div class="main_title">
            <h2 class="mb-3">Miembros de la comunidad</h2>
        </div>
    </div>
</div>

<div class="member-container">
    @foreach (var miembro in (List<PIBasesISGrupo1.Models.Miembro>)ViewData["Miembros"])
    {
        <div class="testi_item" id="cuadroPorPersonaDesplegarMiembros">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    @{
                        if (@miembro.byteArrayImage != null)
                        {
                            <img class="member_img" src="data:@miembro.tipoArchivo;base64,@(Convert.ToBase64String(@miembro.byteArrayImage))" asp-append-version="true" />
                        }
                        else
                        {
                            <img class="member_img" src="~/img/imagenGenerica.jpeg" asp-append-version="true" />
                        }
                    }
                </div>
                <div class="col-lg-8">
                    <div class="testi_text">

                        @{
                            if (@miembro.segundoApellido != null)
                            {

                                <h4>@miembro.nombre @miembro.primerApellido @miembro.segundoApellido</h4>

                            }
                            else
                            {

                                <h4>@miembro.nombre @miembro.primerApellido</h4>
                              
                            }
                        }
                        <p class="title_color">Hobbies: @miembro.hobbies <br /> </p>

                    </div>
                </div>
            </div>
        </div>
    }

</div>