@page
@model PIBasesISGrupo1.Pages.Miembros.DesplegarMiembrosModel


@{
    ViewData["Title"] = "DesplegarMiembros";
  


}

<strong>Miembros de nuestra comunidad</strong>


<br />
<br />
@foreach (var miembro in (List<PIBasesISGrupo1.Models.Miembro>)ViewData["Miembros"])
{
    <tr>
        <td>

            <p>
                @{
                    if (@miembro.byteArrayImage != null)
                    {
                        <img class="card-img-top" src="data:@miembro.tipoArchivo;base64,@(Convert.ToBase64String(@miembro.byteArrayImage))" with="40" height="40" asp-append-version="true" />
                    }
                    else
                    {
                        <img class="card-img-top" src="~/img/imagenGenerica.jpeg" with="40" height="40" asp-append-version="true" />
                    }
                }
                <strong>Nombre Completo:</strong> @miembro.nombre @miembro.primerApellido
                @if (@miembro.segundoApellido != null)
                {
                    @miembro.segundoApellido
                }
                <br />
                <strong>Genero:</strong> @miembro.genero<br />
                <strong>Pais:</strong> @miembro.pais<br />
                <strong>Hobbies:</strong> @miembro.hobbies<br />
                <strong>Email:</strong> @miembro.email<br />


                @{
                    if (@miembro.idiomas != null)
                    {
                        <strong>Idiomas:</strong><br />
                        @foreach (var idioma in @miembro.idiomas)
                        {
                            @idioma<br />

                        }
                    }

                    if (@miembro.habilidades != null)
                    {
                        <strong>Habilidades:</strong><br />
                        @foreach (var habilidad in @miembro.habilidades)
                        {
                            @habilidad<br />

                        }
                    }

                }
                <strong>Tipo de usuario: </strong>@miembro.tipoDeUsuario

                <br/>
                <a href="~/Miembros/EditarMiembro?email=@miembro.email" class="btn btn-info">Editar perfil</a>


            </p>

        </td>

    </tr>
}
