@page
@model PIBasesISGrupo1.Pages.Miembros.DesplegarMiembrosModel


@{
    ViewData["Title"] = "DesplegarMiembros";
  


}

<strong>Miembros de nuestra comunidad</strong>


<br />
<br />
@foreach (var miembro in (List<PIBasesISGrupo1.Models.Miembro>)ViewData["Miembros"])
{
    <tr>
        <td>

            <p>
                
                <img class="card-img-top" src="data:@miembro.tipoArchivo;base64,@(Convert.ToBase64String(@miembro.byteArrayImage))" with="40" height="40" asp-append-version="true" />
                Nombre Completo: @miembro.nombre @miembro.primerApellido
                @if (@miembro.segundoApellido != null)
                {
                    @miembro.segundoApellido
                }
                <br />
                Genero: @miembro.genero<br />
                Nacionalidad: @miembro.pais<br />
                Hobbies: @miembro.hobbies<br />
                Email: @miembro.email<br />

                <a href="~/Miembros/EditarMiembro?email=@miembro.email">Edit</a>
                
            </p>

        </td>

    </tr>
}
