@page
@model PIBasesISGrupo1.Pages.Miembros.DesplegarMiembrosModel


@{
    ViewData["Title"] = "DesplegarMiembros";



}

<br />
<div class="row justify-content-center">
    <div class="col-lg-5">
        <div class="main_title">
            <h2 class="mb-3">Miembros de la comunidad</h2>
        </div>
    </div>
</div>

<div class="member-container">
    @foreach (var miembro in (List<PIBasesISGrupo1.Models.Miembro>)ViewData["Miembros"])
    {
        <div class="member_list">
            <p>
                @{
                    if (@miembro.byteArrayImage != null)
                    {
                        <img class="member_img" src="data:@miembro.tipoArchivo;base64,@(Convert.ToBase64String(@miembro.byteArrayImage))" asp-append-version="true" />
                    }
                    else
                    {
                        <img class="member_img" src="~/img/imagenGenerica.jpeg" asp-append-version="true" />
                    }
                }
                <br />
                <br />
                <h4 class="title_color">Nombre Completo:</h4> @miembro.nombre @miembro.primerApellido
                @if (@miembro.segundoApellido != null)
                {
                    @miembro.segundoApellido
                }
                <br />
                <br />
                <h4 class="title_color">Tipo de usuario: </h4>@miembro.tipoDeUsuario<br />
                <br />
                <h4 class="title_color">
                    Genero:
                </h4> @miembro.genero<br />
                <br />
                <h4 class="title_color">Pais:</h4> @miembro.pais<br />
                <br />
                <h4 class="title_color">Hobbies:</h4> @miembro.hobbies<br />
                <br />
                <h4 class="title_color">Email:</h4> @miembro.email<br />


                <br />
                @{
                    if (@miembro.idiomas != null)
                    {
                        <h4 class="title_color">
                            Idiomas:
                        </h4>
                        @foreach (var idioma in @miembro.idiomas)
                        {
                            @idioma<br />

                        }
                    }
                    <br />
                    if (@miembro.habilidades != null)
                    {
                        <h4 class="title_color">
                            Habilidades:
                        </h4>
                        @foreach (var habilidad in @miembro.habilidades)
                        {
                            @habilidad <br />

                        }
                    }

                }




            </p>
        </div>
    }
</div>