@page
@model PIBasesISGrupo1.Pages.Miembros.EditarMiembroModel
@{
        ViewData["Title"] = "EditarMiembro";
        var datosMiembroModificar = (PIBasesISGrupo1.Models.Miembro)ViewData["MiembroModificar"];
        var mensaje = (string)TempData["mensaje"];           
}
<h2>Edicion de datos de perfil</h2>
<form method="post" enctype="multipart/form-data">

    @if (@mensaje != null)
    {
        if ((bool)TempData["exitoAlEditar"])
        {
            <div class="alert-success">

                <h3> @mensaje </h3>
            </div>
        }
        else
        {
            <div class="alert-danger">

                <h3> @mensaje </h3>
            </div>
        }
    }
    @{
        if (datosMiembroModificar.byteArrayImage != null)
        {
            <img class="card-img-top" src="data:@datosMiembroModificar.tipoArchivo;base64,@(Convert.ToBase64String(@datosMiembroModificar.byteArrayImage))" with="300" height="300" asp-append-version="true" />
        }
        else
        {
            <img class="card-img-top" src="~/img/imagenGenerica.jpeg" with="300" height="300" asp-append-version="true" />
        }
    }
    <div>
        <span asp-validation-for="@Model.miembro.nombre" class="text-danger"></span>
        </br>
        <strong>Nombre:</strong> <input asp-for="@Model.miembro.nombre" value="@datosMiembroModificar.nombre" />

    </div>
    <div>
        <span asp-validation-for="@Model.miembro.primerApellido" class="text-danger"></span>
        </br>
        <strong>Primer Apellido:</strong> <input asp-for="@Model.miembro.primerApellido" value="@datosMiembroModificar.primerApellido" />

    </div>
    <div>
        <span asp-validation-for="@Model.miembro.segundoApellido" class="text-danger"></span>
        </br>
        <strong>Segundo Apellido:</strong> <input asp-for="@Model.miembro.segundoApellido" value="@datosMiembroModificar.segundoApellido" />

    </div>
    <div>
        <span asp-validation-for="@Model.miembro.genero" class="text-danger"></span>
        </br>
        <strong>Genero:</strong> <input asp-for="@Model.miembro.genero" value="@datosMiembroModificar.genero" />

    </div>
    <div>
        <span asp-validation-for="@Model.miembro.pais" class="text-danger"></span>
        </br>
        <strong>Pais:</strong> <input asp-for="@Model.miembro.pais" value="@datosMiembroModificar.pais" />

    </div>
    <div>
        <span asp-validation-for="@Model.miembro.hobbies" class="text-danger"></span>
        </br>
        <strong>Hobbies:</strong> <input asp-for="@Model.miembro.hobbies" value="@datosMiembroModificar.hobbies" /></br>
    </div>
    <div>
        <span asp-validation-for="@Model.miembro.email" class="text-danger"></span>
        </br>
        <strong>Email:</strong> <input asp-for="@Model.miembro.email" value="@datosMiembroModificar.email" />

    </div>
    <div>
        <span asp-validation-for="@Model.miembro.password" class="text-danger"></span>
        </br>
        <strong> Contraseña:</strong> <input asp-for="@Model.miembro.password" value="@datosMiembroModificar.password" , type="password" />

    </div>

    @{
        if (datosMiembroModificar.idiomas.Length > 0)
        {
            <br />
            <br />
            <strong>Idiomas:</strong><br />
            <p>
                <strong>Para borrar mas de un idioma mantenga apretado Control + click</strong>
            </p>

            <select asp-for="@Model.idiomasBorrar" multiple size=" @datosMiembroModificar.idiomas.Length">

                @foreach (var idioma in datosMiembroModificar.idiomas)
                {
                    <option value="@idioma">@idioma</option>


                }
            </select>
        }

        if (datosMiembroModificar.habilidades.Length>0)
        {
            <br />
            <br />
            <strong>Habilidades:</strong><br />


            <p>
                <strong>Para borrar mas de una habilidad mantenga apretado Control + click</strong>
            </p>
            <select asp-for="@Model.habilidadesBorrar" multiple size=" @datosMiembroModificar.habilidades.Length">

                @foreach (var habilidad in datosMiembroModificar.habilidades)
                {

                    <option value="@habilidad">@habilidad</option>

                }
            </select>
        }

    }

    </br>
    <strong>Subir foto:</strong> <input asp-for="@Model.archivoImagen" type="file" class="btn btn alert-info" />
    </br>

    <p>
        <strong>Para seleccionar mas de un idioma mantenga apretado Control + click</strong>
    </p> <select asp-for="@Model.miembro.idiomas" multiple size="11">
        <option value="Arabe">Arabe</option>
        <option value="Aleman">Aleman</option>
        <option value="Bengali">Bengali</option>
        <option value="Español">Español</option>
        <option value="Frances">Frances</option>
        <option value="Hindi">Hindi</option>
        <option value="Ingles">Ingles</option>
        <option value="Mandarin">Mandarin</option>
        <option value="Panyabí">Panyabí</option>
        <option value="Portugues">Portugues</option>
        <option value="Ruso">Ruso</option>
    </select></br>
    <p>
        <strong>Para seleccionar mas de una habilidad mantenga apretado Control + click</strong>
    </p> <select asp-for="@Model.miembro.habilidades" multiple size="15" value="@datosMiembroModificar.habilidades">
        <option value="Empatia">Empatía</option>
        <option value="Saber escuchar">Saber escuchar</option>
        <option value="Liderazgo">Liderazgo</option>
        <option value="Flexibilidad">Flexibilidad</option>
        <option value="Optimismo">Optimismo</option>
        <option value="Confianza">Confianza</option>
        <option value="Optimismo">Optimismo</option>
        <option value="Confianza">Confianza</option>
        <option value="Comunicacion">Comunicacion</option>
        <option value="Convencimiento">Convencimiento</option>
        <option value="Esfuerzo">Esfuerzo</option>
        <option value="Dedicacion">Dedicacion</option>
        <option value="Comprension">Comprension</option>
        <option value="Asertividad">Asertividad</option>
        <option value="Credibilidad">Credibilidad</option>
    </select></br>





    </br>
    <input type="submit" value="aplicar cambios" class="btn btn-success" aps-page-handler="OnPost" />
</form>
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}