@page
@model PIBasesISGrupo1.Pages.Miembros.EditarMiembroModel
@{
    ViewData["Title"] = "EditarMiembro";


    var datosMiembroModificar = (PIBasesISGrupo1.Models.Miembro)ViewData["MiembroModificar"];
}



<h2>Edicion de datos de perfil</h2>
<form method="post">

    Nombre: <input asp-for="@Model.Miembro.Nombre" value="@datosMiembroModificar.Nombre" />

    Primer Apellido: <input asp-for="@Model.Miembro.PrimerApellido" value="@datosMiembroModificar.PrimerApellido" />

    Segundo Apellido: <input asp-for="@Model.Miembro.SegundoApellido" value="@datosMiembroModificar.SegundoApellido" /></br></br>

    Genero: <input asp-for="@Model.Miembro.Genero" value="@datosMiembroModificar.Genero" /></br></br>

    Pais: <input asp-for="@Model.Miembro.Pais" value="@datosMiembroModificar.Pais" /></br></br>

    Hobbies: <input asp-for="@Model.Miembro.Hobbies" value="@datosMiembroModificar.Hobbies" /></br></br>

    Email: <input asp-for="@Model.Miembro.Email" value="@datosMiembroModificar.Email" disabled="@datosMiembroModificar.Email" /></br></br>

    Contraseña: <input asp-for="@Model.Miembro.Password" value="@datosMiembroModificar.Password", type="password" /></br></br>

    <input type="submit" value="aplicar cambios" aps-page-handler="OnPost" />
</form>
