@page
@model PIBasesISGrupo1.Pages.Miembros.MostrarPerfilMiembroModel
@{
    ViewData["Title"] = "MostrarPerfilMiembro";
}

<header>
    <style>
        .center-perfil {
            margin: 0;
            margin-left:20%;
        }
    </style>
</header>


        <html>
        <br>


        <div class="member-container">
            <body id="top">
                <div class="center-perfil">
                    <div class="row">
                        <div class="testi_item">
                            <h2 class="main_title">
                                @Model.miembro.nombre @Model.miembro.primerApellido
                                @if (@Model.miembro.segundoApellido != null)
                                {
                                    @Model.miembro.segundoApellido
                                }
                            </h2>
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <br>
                                    @{
                                        if (@Model.miembro.byteArrayImage != null)
                                        {
                                            <img class="member_img-perfil" src="data:@Model.miembro.tipoArchivo;base64,@(Convert.ToBase64String(Model.@miembro.byteArrayImage))" asp-append-version="true" />
                                        }
                                        else
                                        {
                                            <img class="member_img-perfil" src="~/img/imagenGenerica.jpeg" asp-append-version="true" />
                                        }
                                    }
                                </div>
                                <div class="col-lg-8">
                                    <div class="testi_text">
                                        <div class="row mt-3">
                                            <div class="col-sm-4"><h3 class="widget_title">Correo</h3></div>
                                            <div class="col-sm-8">@Model.miembro.email</div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-sm-4"><h3 class="widget_title">Género</h3></div>
                                            <div class="col-sm-8">@Model.miembro.genero</div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-sm-4"><h3 class="widget_title">País</h3></div>
                                            <div class="col-sm-8">@Model.miembro.pais</div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-sm-4"><h3 class="widget_title">Hobbies</h3></div>
                                            <div class="col-sm-8">@Model.miembro.hobbies</div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-sm-4"><h3 class="widget_title">Idiomas</h3></div>
                                            <div class="col-sm-8">
                                                @{
                                                    if (@Model.miembro.idiomas != null)
                                                    {
                                                        @foreach (var idioma in @Model.miembro.idiomas)
                                                        {
                                                            @idioma<br />

                                                        }
                                                    }

                                                }
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-sm-4"><h3 class="widget_title">Habilidades</h3></div>
                                            <div class="col-sm-8">
                                                @{
                                                    if (@Model.miembro.habilidades != null)
                                                    {

                                                        @foreach (var habilidad in @Model.miembro.habilidades)
                                                        {
                                                            @habilidad <br />

                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="testi_text">
                                        <div hidden class="h4 mt-0 title">
                                            @Model.miembro.nombre @Model.miembro.primerApellido
                                            @if (@Model.miembro.segundoApellido != null)
                                            {
                                                @Model.miembro.segundoApellido
                                            }
                                        </div>
                                        <div class="row mt-3">

                                            <div hidden class="col-sm-8">anthony@company.com</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </body>
    </html>
