@page
@model PIBasesISGrupo1.Pages.Miembros.MostrarPerfilMiembroModel
@{
    ViewData["Title"] = "MostrarPerfilMiembro";
}

<header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <style>

        .center-perfil {
            //margin: 0;
            margin-left: 10%;
            margin-right: 20%;
        }
         .fa {
             font-size: 50px;
             cursor: pointer;
             user-select: none;
         }

             .fa:hover {
                 color: darkblue;
             }

        .testi_item {
            background-color: white;
            width: 1200px;
            padding: 50px 55px;
            margin-bottom: 200px;
            margin-left: 10px;
            margin: 0px 10px 80px;
            box-shadow: 0px 15px 30px 0px rgba(221, 221, 221, 0.3);
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
        }

        .member_img-perfil {
            height: 300px;
            width: 300px;
            margin-right: 100px;
            border-radius: 10px;
        }

        .main_title {
            margin-bottom: 2%;
            padding-left: 4%;
        }

        .testi_text {
            margin-left: 5%;
        }

        .member-container {
            margin-top: 1%;
        }
    </style>
    <style type="text/css">
        body {
            //background-color: #f1f9ff;
            background-color: #e0efff;
            background-size: 100%;
        }
    </style>
</header>


<html>
<br>
 
<div class="member-container">
    <body id="top">
        <div class="center-perfil">
            <div class="row">
                <div class="testi_item">
                    <h1 class="main_title">
                        @Model.miembro.nombre @Model.miembro.primerApellido
                        @if (@Model.miembro.segundoApellido != null)
                        {
                            @Model.miembro.segundoApellido
                        }
                    </h1>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <br>
                            @{
                                if (@Model.miembro.byteArrayImage != null)
                                {
                                    <img class="member_img-perfil" src="data:@Model.miembro.tipoArchivo;base64,@(Convert.ToBase64String(Model.@miembro.byteArrayImage))" asp-append-version="true" />
                                }
                                else
                                {
                                    <img class="member_img-perfil" src="~/img/imagenGenerica.jpeg" asp-append-version="true" />
                                }
                            }
                            <div style="text-align:center;align-content:center"></div>
                            <i onclick="myFunction(this,@Model.miembro.email)" class="fa fa-thumbs-up"></i>
                        </div>
                        <div class="col-lg-8">
                            <div class="testi_text">
                                <div class="row mt-3">
                                    <div class="col-sm-4"><h4 class="widget_title">Correo</h4></div>
                                    <div class="col-sm-8">@Model.miembro.email</div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-4"><h4 class="widget_title">Género</h4></div>
                                    <div class="col-sm-8">@Model.miembro.genero</div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-4"><h4 class="widget_title">País</h4></div>
                                    <div class="col-sm-8">@Model.miembro.pais</div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-4"><h4 class="widget_title">Hobbies</h4></div>
                                    <div class="col-sm-8">@Model.miembro.hobbies</div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-4"><h4 class="widget_title">Idiomas</h4></div>
                                    <div class="col-sm-8">
                                        @{
                                            if (@Model.miembro.idiomas != null)
                                            {
                                                @foreach (var idioma in @Model.miembro.idiomas)
                                                {
                                                    @idioma<br />

                                                }
                                            }

                                        }
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-4"><h4 class="widget_title">Habilidades</h4></div>
                                    <div class="col-sm-8">
                                        @{
                                            if (@Model.miembro.habilidades != null)
                                            {

                                                @foreach (var habilidad in @Model.miembro.habilidades)
                                                {
                                                    @habilidad <br />

                                                }
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="testi_text">
                                <div hidden class="h4 mt-0 title">
                                    @Model.miembro.nombre @Model.miembro.primerApellido
                                    @if (@Model.miembro.segundoApellido != null)
                                    {
                                        @Model.miembro.segundoApellido
                                    }
                                </div>
                                <div class="row mt-3">

                                    <div hidden class="col-sm-8">anthony@company.com</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</div>

<div style="width=100%; text-align:center; margin-top:-70px;">
    @{var miembro = (List<PIBasesISGrupo1.Models.Miembro>)ViewData["informacionDePerfilesMasSimilares"];
        @if (miembro.Any())
        {
            <h2 class="main_title">Perfiles que te podrían interesar</h2>
        }
    }
</div>

<div class="member-container">
    @{
        int i = 0;
        for (i = 0; i < miembro.Count(); i = i + 4)
        {
            <div class="row" id="filaDePersonas">
                @for (int j = i; j < i + 4; j++)
                {
                    if (j < miembro.Count())
                    {
                        <a id="botonParaPerfil" asp-page="./MostrarPerfilMiembro" asp-route-email="@miembro[j].email">
                            <div id="cuadroDePerfil">
                                @{
                                    if (miembro[j].byteArrayImage != null)
                                    {
                                        <img id="imagenMiembro" src="data:@miembro[j].tipoArchivo;base64,@(Convert.ToBase64String(@miembro[j].byteArrayImage))" asp-append-version="true" />
                                    }
                                    else
                                    {
                                        <img id="imagenMiembro" src="~/img/imagenGenerica.jpeg" asp-append-version="true" />
                                    }
                                    if (@miembro[j].segundoApellido != null)
                                    {
                                        <h4 id="nombrePersona">@miembro[j].nombre @miembro[j].primerApellido @miembro[j].segundoApellido</h4>
                                    }
                                    else
                                    {
                                        <h4 id="nombrePersona">@miembro[j].nombre @miembro[j].primerApellido</h4>
                                    }
                                }
                            </div>
                        </a>
                    }
                }
            </div>
        }
    }
</div>

</html>
<script>
    function myFunction(x,emailDelMiembro) {
        x.classList.toggle("fa-thumbs-down");
        $.ajax({
            type: "POST",
            url: "Miembros?handler=ActualizarLikesDelMiembro",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: {
                "emailDelPerfilActual": emailDelMiembro
            },
            success: function (response) {

                actualizaLikesDelMiembro(response);


            },
            failure: function (response) {
                alert('fallo');
            },
            error: function (response) {
                alert('error');
            }

        });
    }
    function actualizaLikesDelMiembro(response) {
        alert("hola");
    }
</script>