@page
@model PIBasesISGrupo1.Pages.Certificado.AprobarCertificadoModel
@{
    ViewData["Title"] = "AprobarCertificado";
    var email = (string)ViewData["email"];
    var certificados = (List<PIBasesISGrupo1.Models.Certificado>)ViewData["Certificados"];
}


<table class="table certificado__table">
    <thead>
        <tr>
            <th>
                <h3>Estudiante</h3>
            </th>

            <th>
                <h3>Curso</h3>
            </th>
            <th>
                <h3>Educador</h3>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var certificado in certificados)
        {

            <tr>
                <td>
                    <p>@certificado.nombreEstudiante</p>
                </td>
                <td>
                    <p>@certificado.nombreCurso @certificado.version</p>
                </td>
                <td>
                    <p>@certificado.nombreEducador</p>
                </td>
                <td>
                    <form method="post" asp-for asp-route-emailEstudiante="@certificado.emailEstudiante" asp-route-nombreCurso="@certificado.nombreCurso" asp-route-emailCoordinador="@email" asp-route-version="@certificado.version">
                        <button type="submit" class="primary-btn__reverse text-uppercase enroll rounded-0" href="#">Aprobar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
