@page
@model PIBasesISGrupo1.Pages.Certificado.AprobarCertificadoModel
@{
    ViewData["Title"] = "AprobarCertificado";
    var email = (string)ViewData["email"];
    var certificados = (List<PIBasesISGrupo1.Models.Certificado>)ViewData["Certificados"];
    var firmaCoordinador = (byte[])ViewData["firmaCoordinador"];
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
    </script>

    <script src="https://files.codepedia.info/files/uploads/iScripts/html2canvas.js">
    </script>

</head>


@foreach (var certificado in certificados)
{

    <div class="certificado__container" id="certificado">
        <div class="certificado__elements">
            <p class="certificado__title"><strong>CERTIFICADO DE FINALIZACIÓN</strong></p>
            <br />
            <p class="certificado__content">Este certificado se otorga a</p>
            <p class="certificado__ownerName"><strong>@certificado.nombreEstudiante</strong></p>
            <p class="certificado__content">Por completar con exito el curso de</p>
            <p class="certificado__content certificado__content-lessMargin">@certificado.nombreCurso</p>
            <p class="certificado__content">Impartido por: @certificado.nombreEducador</p>
            <p class="certificado__content">
                @certificado.fecha.Substring(0,2) @certificado.fecha.Substring(2,4) @certificado.fecha.Substring(4,8)
            </p>

            <div class="certificado__members">
                <div>
                    <img src="data:image/png;base64,@(Convert.ToBase64String(firmaCoordinador))" style="width:200px;height:100px" />
                    <p class="certificado__members__line"></p>
                    <p class="certificado__members__information">Firma coordinador</p>
                </div>
                <img src="~/img/logoCertificado.jpg" style="width:200px;height:100px"/>
                <div>
                    <img src="data:image/png;base64,@(Convert.ToBase64String(certificado.firmaEducador))" style="width:200px;height:100px" />
                    <p class="certificado__members__line"></p>
                    <p class="certificado__members__information">Firma Educador</p>
                </div>
            </div>
            <br />
            <br />
            <br />
        </div>
    </div>
    <div style="position:relative;left:43%;bottom:130px">
        <form method="post" asp-route-emailEstudiante="@certificado.emailEstudiante" asp-route-nombreCurso="@certificado.nombreCurso" asp-route-emailCoordinador="@email">
            <input asp-for="@Model.tipoImagen" type="hidden" id="informacionImagen" value="" />
            <button type="submit" class="primary-btn2 text-uppercase enroll rounded-0" href="#">Firmar</button>
        </form>
    </div>
    <script>

        html2canvas($('#certificado'), {
            onrendered: function (canvas) {
                var dataURL = canvas.toDataURL();
                document.getElementById("informacionImagen").value = dataURL;
            }
        });

    </script>
}




