@page
@model PIBasesISGrupo1.Pages.Certificado.MisCertificadosModel
@{
    ViewData["Title"] = "Mis Certificado";
    var email = (string)ViewData["email"];
    var certificados = (List<PIBasesISGrupo1.Models.Certificados>)ViewData["Certificados"];
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
    </script>
    <script src="https://files.codepedia.info/files/uploads/iScripts/html2canvas.js">
    </script>
    <style>

        .certifica {
            text-align: center;
        }

        #subtitulo {
            font-family: Chancery L;
        }
    </style>
</head>

<table class="table certificado__table" style="text-align:center;">
    <thead>
        <tr>
            <th>
                <h3>Curso</h3>
            </th>

            <th>
                <h3>Version</h3>
            </th>
            <th>
                <h3>Educador</h3>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="text-align:center;">
        @foreach (var certificado in certificados)
        {

            <tr>
                <td>
                    <p>@certificado.nombreCurso</p>
                </td>
                <td>
                    <p>@certificado.version</p>
                </td>
                <td>
                    <p>@certificado.nombreEducador</p>
                </td>
                <td>

                    <form method="post" asp-for asp-route-fecha="@certificado.fecha" asp-route-emailCoordinador="@certificado.emailCoordinador" asp-route-emailEducador="@certificado.emailEducador" asp-route-nombreEstudiante="@certificado.nombreEstudiante" asp-route-nombreCurso="@certificado.nombreCurso" asp-route-nombreEducador="@certificado.nombreEducador">
                        <button type="submit" class="primary-btn__reverse text-uppercase enroll rounded-0" href="#">Ver Certificado</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
