@page
@model PIBasesISGrupo1.Pages.Curso.AgregarMaterialModel
@{
    ViewData["Title"] = "AgregarMaterial";
    var nombreCurso = (String)ViewData["nombreCurso"];
    var nombreSeccion = (String)ViewData["nombreSeccion"];
}


<div style="margin-left:200px; margin-right:200px;">
    <div class="curso-material" style=" margin-bottom: 15px;">
        <div style=" margin-bottom: 10px;margin-left:10px; margin-bottom: 20px;">
            <h2><strong>Agregando material a: @nombreSeccion</strong></h2>
        </div>
    </div>
    <div class="curso-material">
        <div style="display:inline-flex ; margin-bottom:20px; margin-left:10%;">
            <form method="post" enctype="multipart/form-data">
                <div style="display:inline-flex;  margin-top: 30px; margin-bottom:10px;">
                    <input type="hidden" asp-for="@Model.material.nombreDeSeccion" value="@nombreSeccion" />
                    <input type="hidden" asp-for="@Model.material.nombreDeCurso" value="@nombreCurso" />
                    <span asp-validation-for="@Model.material.nombreMaterial" class="text-danger"></span><br />
                    <label asp-for="@Model.material.nombreMaterial" style="font-size:18px;">Ingrese el nombre del material:</label>
                    <input asp-for="@Model.material.nombreMaterial" /><br />
                    <span asp-validation-for="@Model.archivo" class="text-danger"></span><br />

                    <input asp-for="@Model.archivo" type="file" style="margin-left:5px;" /><br />

                </div>
                
                    <button  type="submit" asp-page-handler="AgregarMaterial" class="primary-btn__reverse text-uppercase enroll rounded-0">
                        <i class="ti-plus" aria-hidden="false"></i> Añadir
                    </button>
                
                
            </form>
        </div>
    </div>
    <div style="margin-left:83%">
        <a asp-page="ModificarSeccion" asp-route-nombreCurso="@nombreCurso" asp-route-nombreSeccion="@nombreSeccion" class="primary-btn__reverse text-uppercase enroll rounded-0">
            <i class="ti-back-left" aria-hidden="false"></i> Volver
        </a> <br>
    </div>
</div>
