@page
@model PIBasesISGrupo1.Pages.Curso.CrearCursoModel
@{
    ViewData["Title"] = "CrearCurso";
    var nombreCurso = (string)ViewData["nombreCurso"];
}


<h2>@nombreCurso</h2>
<p>
    <a asp-page="CrearSeccion" asp-route-nombreCurso="@nombreCurso" class="primary-btn2 text-uppercase enroll rounded-0">Crear Seccion</a>
    <a asp-page="./CursosDisponibles" class="primary-btn2 text-uppercase enroll rounded-0">Terminar</a>
</p>

@{
    if (@Model.Secciones != null)
    {
        foreach (var item in @Model.Secciones)
        {
            <br>
            <button class="accordion">@item.nombreSeccion</button>
         
            <div class="panel">

                @{ foreach (var material in item.listaMateriales)
                    {
                        <p>
                            <a href="data:@material.tipoArchivo;base64,@(Convert.ToBase64String(material.archivo))" download="@material.nombreMaterial">
                                <span class="or">@material.nombreMaterial</span>
                            </a>
                            <br>
                        </p>
                    }
                }

            </div>
           
        }
    }
}

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>