@page
@model PIBasesISGrupo1.Pages.Curso.CursosDisponiblesModel
@{

    var listaDeCursos = (List<Tuple<PIBasesISGrupo1.Models.Cursos, PIBasesISGrupo1.Models.Miembro, List<Tuple<string, string>>>>)ViewData["CursosDisponibles"];
    var usuarioEnSesion = true;
    var miEmail = (string)ViewData["miEmail"];
    var misCursos = (List<Tuple<string, int>>)ViewData["misCursos"];
   

    if (misCursos == null)
    {
        usuarioEnSesion = false;
    }

}

<header>
    <style>
        .centrar-documento {
            text-align:center;
        }
    </style>
</header>


<div class="cajota-cursos">

    <div class="cursos-container-2">
        <div class="justify-content-center">
            <h1 class="mb-3">Cursos Disponibles</h1>
        </div>


        <div class="center">
            <div class="blog_right_sidebar">
                <div class="search_widget">
                    <div class="input-group">
                        @using (Html.BeginForm())
                        {

                            @Html.TextBox("searching", null, new { @class = "form-control", @style = "width:435%;", @placeholder = "Buscar curso por nombre, precio o educador" })
                            <button class="btn btn-default" type="submit"><i class="ti-search"></i></button>

                        }

                    </div>
                </div>
            </div>
        </div>




        @if (listaDeCursos.Count > 0)
        {

            @foreach (var infoCursos in listaDeCursos)
            {

                var mostrar = true;
                var curso = infoCursos.Item1;
                var educador = infoCursos.Item2;

                var nombreYversionCurso = new Tuple<string, int>(curso.nombre, curso.version);

                if (curso.emailDelEducador == miEmail || (usuarioEnSesion && misCursos.Contains(nombreYversionCurso) == true))
                {

                    mostrar = false;
                }

                if (mostrar == true)
                {

                    <div class="cajita-cursos col-lg-12">
                        <div class="col-lg-12 right-contents">
                            <h4 class="title_color align-content-lg-center centrar">@curso.nombre</h4>
                            <hr class="new5">
                            <ul>
                                <li>
                                    <a class="justify-content-between d-flex" href="#">
                                        <p>Version</p>
                                        <span class="or">@curso.version</span>

                                    </a>
                                </li>


                                <li>
                                    <a class="justify-content-between d-flex" href="#">
                                        <p>Educador</p>
                                        <span class="or">@educador.nombre @educador.primerApellido </span>

                                    </a>
                                </li>
                                <li>
                                    <a class="justify-content-between d-flex" href="#">
                                        <p>Email</p>
                                        <span class="or">@curso.emailDelEducador</span>

                                    </a>
                                </li>
                                <li>
                                    <a class="justify-content-between d-flex" href="#">
                                        <p>Precio </p>
                                        <span>$@curso.precio</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="justify-content-between d-flex" href="#">
                                        <p>Topicos</p>
                                        <br>
                                        @{
                                            var topicos = "";

                    @foreach (var infoTopicos in infoCursos.Item3)
                    {
                        topicos = topicos + " " + infoTopicos.Item1;


                    }
                }
                                        <span class="or"> @topicos </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="justify-content-between d-flex" href="#">
                                        <span class="or">
                                            <div class="centrar-documento">
                                                <a href="data:@curso.tipoDocInformativo;base64,@(Convert.ToBase64String(curso.byteArrayDocument))" download="@curso.nombre .pdf">
                                                    <span class="or icon">
                                                        Descargar documento descriptivo del curso <i class="ti-download" aria-hidden="false"></i>
                                                    </span>
                                                </a>
                                            </div>
                                    </a>
                                </li>
                            </ul>
                            <a asp-page="InscribirmeCurso" asp-route-nombreCurso="@curso.nombre" class="primary-btn2 text-uppercase enroll rounded-0">Inscribirme</a>
                        </div>
                    </div>

                }


            }
        }
        else
        {
            <tr>
                <td colspan="3" style=" color:red">
                    No se encontraron Coincidencias
                </td>
            </tr>

        }
    </div>
</div>
