@page
@model PIBasesISGrupo1.Pages.Curso.CursosAprobadosModel
@{

    var listaDeCursos = (List<Tuple<PIBasesISGrupo1.Models.Cursos, PIBasesISGrupo1.Models.Miembro, List<Tuple<string, string>>>>)ViewData["CursosAprobados"];
}

<div class="cajota-cursos">
    <div class="row justify-content-center">

        <h1 class="mb-3">Cursos aprobados</h1>

    </div>



    <div class="cursos-container-2">
        @if (listaDeCursos.Count > 0)
        {

            @foreach (var infoCursos in listaDeCursos)
            {
                var curso = infoCursos.Item1;
                var educador = infoCursos.Item2;
                <div class="cajita-cursos col-lg-12">
                    <div class="col-lg-12 right-contents">
                        <h4 class="title_color align-content-lg-center centrar">@curso.nombre</h4>
                        <hr class="new5">

                        <ul>
                            <li>
                                <a class="justify-content-between d-flex" href="#">
                                    <p>Educador</p>
                                    <span class="or">@educador.nombre @educador.primerApellido </span>


                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="#">
                                    <p>Email</p>
                                    <span class="or">@curso.emailDelEducador</span>


                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="#">
                                    <p>Precio </p>
                                    <span>$@curso.precio</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="#">
                                    <p>Topicos</p>
                                    <br>
                                    @{
                                        var topicos = "";

                                        @foreach (var infoTopicos in infoCursos.Item3)
                                        {
                                            topicos = topicos + " " + infoTopicos.Item1;


                                        }
                                    }
                                    <span class="or"> @topicos </span>

                                </a>
                            </li>
                        </ul>
                        <a asp-page="./CrearCurso" asp-route-nombreCurso="@curso.nombre" asp-route-nombrePaginaCurso="./CrearCurso" button class="primary-btn2 text-uppercase enroll rounded-0"> Crear curso</a>
                    </div>
                    </div>
                    }
                    }
                    else
                    {
                    <tr>
                        <td colspan="3" style=" color:red">
                            No se encontraron Coincidencias
                        </td>
                    </tr>

                    }
                    </br>
                </div>
            </div>
