@page
@model PIBasesISGrupo1.Pages.Curso.GraficoModel
@{
    var cursosDisponibles = (List<string>)ViewData["cursos"];
     
} 

<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/flaticon.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="css/themify-icons.css" />
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css" />
    <script>
        window.onload = function () {
            document.getElementById("numdata").style.display = "block";
            var chart = new CanvasJS.Chart("chartContainer", {
	            theme: "light2", // "light1", "light2", "dark1", "dark2"
	            exportEnabled: true,
	            animationEnabled: true,
	            title: {
		            text: "Estudiantes Certificados y no Certificados",
		            fontSize: 21
	            },
	            data: [{
                    type: "pie",
                    click: onClick,
		            startAngle: 160,
		            toolTipContent: "<b>{label}</b>: {y}%",
		            indexLabel: "{label} - {y}%",
		            dataPoints: @Html.Raw(TempData["Grafico"])
	            }]
            });
            chart.render();

            function onClick(e) {
                if (e.dataPoint.label == "Cursando") {

                    if (document.getElementById("chartContainer2").style.display === "none"  ) {
                        //document.getElementById("chartContainer2").hidden = false;
                        document.getElementById("chartContainer2").style.display = "block";
                        if (document.getElementById("habilidadesEstudiantes1").style.display === "block") {
                            document.getElementById("habilidadesEstudiantes1").style.display = "none";
                        }
                        graficoDeMaterialesVistos()

                    } else {
                        document.getElementById("chartContainer2").style.display = "none";
                    }



                }
                else if (e.dataPoint.label == "Certificados") {
                    if (document.getElementById("habilidadesEstudiantes1").style.display === "none") {
                        //document.getElementById("chartContainer2").hidden = false;

                        document.getElementById("habilidadesEstudiantes1").style.display = "block";
                        if (document.getElementById("chartContainer2").style.display === "block") {
                            document.getElementById("chartContainer2").style.display = "none";
                        }
                        habilidadesCertificados()
                    } else {
                        document.getElementById("habilidadesEstudiantes1").style.display = "none";
                    }


                }


             }


        }
    </script>
    <style>


        .box {
            background: linear-gradient(#526494, #604484);
            margin: 50px 70px;
            border-radius: 5px;
            width: 300px;
            text-align: center;
        }

        .box__header {
            padding: 15px 25px;
            position: relative;
        }

        .box__header-title {
            color: #fff;
            font-size: 18px;
        }

        .box__body {
            padding: 0 25px;
        }

        /* STATS */

        .stats {
            color: #fff;
            position: relative;
            padding-bottom: 25px;
        }

        .stats__amount {
            font-size: 42px;
            font-weight: bold;
            line-height: 1.2;
        }

        .stats__caption {
            font-size: 18px;
        }

        .stats__change {
            position: absolute;
            top: 10px;
            right: 0;
            text-align: right;
            color: #b1b7c8;
        }

        .stats__value {
            font-size: 18px;
        }

        .stats__period {
            font-size: 14px;
        }

        .stats__value--positive {
            color: #aedc6f;
        }

        .stats__value--negative {
            color: #fb5055;
        }

        .stats--main .stats__amount {
            font-size: 54px;
        }
    </style>
</head>
<body>

    <div>
        <form method="post" enctype="multipart/form-data">
            <span asp-validation-for="@Model.cursosAFiltrar" class="text-danger"></span>
            <select class="border-0 idiomas-select single-input-primary " asp-for="@Model.cursosAFiltrar" multiple="multiple" size="@cursosDisponibles.Count" required>
                @foreach (var curso in cursosDisponibles)
                {

                    <option value="@curso">@curso</option>

                    <br>
                }
            </select>

            <input type="submit" value="Filtrar" class="primary-btn2 text-uppercase enroll rounded-0" aps-page-handler="OnPost" />

        </form>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
            <div id="chartContainer2" style="height: 370px; width: 100%; display: none;"></div>
            <div id="habilidadesEstudiantes1" style="height: 370px; width: 100%; display: none;"></div>



        </div>

        <div class="col-lg-4 col-md-6">
            <div id="habilidadesEstudiantes" style="height: 370px; width: 100%;"></div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div id="paisesEstudiantes" style="height: 370px; width: 100%;"></div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div id="graficoIdiomas" style="height: 370px; width: 100%;"></div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div id="topicos" style="height: 370px; width: 100%;"></div>
        </div>
        <div class="col-lg-4 col-md-6" style="text-align: center;">
            <div id="numdata" style="display:none; text-align: center;" class="col-lg-4 col-md-6">

                <div id="totalEstudiantes" class="box">
                    <div class="box__header">
                        <h3 class="box__header-title">Estudiantes Matriculados</h3>
                    </div>
                    <div class="box__body">
                        <div class="stats stats--main">
                            <div class="stats__amount" style="text-align: center;">@TempData["numeroEstudiantes"]</div>


                        </div>


                    </div>
                </div>
            </div>
            <div id="estudiantesEnCadaCurso" style="height: 370px; width: 100%; display:none"></div>
        </div>



    </div>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/owl-carousel-thumb.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/mail-script.js"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="js/gmaps.min.js"></script>
    <script src="js/theme.js"></script>
</body>

</html>

<script>



    function graficoDeMaterialesVistos() {

        var chart = new CanvasJS.Chart("chartContainer2", {
            theme: "light2",
            exportFileName: "Doughnut Chart",
            exportEnabled: true,
            animationEnabled: true,
            title: {
                text: "Porcentaje De Avance De Los Estudiantes"
            },
            legend: {
                cursor: "pointer",
                itemclick: explodePie
            },
            data: [{
                type: "doughnut",
                innerRadius: 90,
                showInLegend: false,
                indexLabel: "{label} - {y}%",
                dataPoints: @Html.Raw(TempData["GraficoMateriales"])

            }]
        });
        chart.render();

        function explodePie(e) {
            if (typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
                e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
            } else {
                e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
            }
            e.chart.render();
        }

    }

      function habilidades () {

          var chart = new CanvasJS.Chart("habilidadesEstudiantes", {
	        animationEnabled: true,
	        theme: "light2", // "light1", "light2", "dark1", "dark2"
	        title:{
		        text: "Habilidades mas Frecuentes"
	        },
	        axisY: {
		        title: "Cantidad de Personas"
	        },
	        data: [{
		        type: "column",
		        showInLegend: false,
		        legendMarkerColor: "grey",
		        dataPoints:@Html.Raw(TempData["GraficoHabilidades"])
	        }]
        });
          chart.render();
          function onClick(e) {
            $.ajax({
                  type: "POST",
                  url: "Grafico?handler=ObtenerHabilidaesPorCurso",
                  beforeSend: function (xhr) {
                      xhr.setRequestHeader("XSRF-TOKEN",
                          $('input:hidden[name="__RequestVerificationToken"]').val());
                  },
                  data: { "habilidad": e.dataPoint.label },
                  success: function (response) {

                      habilidadesPorPais(response.Item1, e.dataPoint.label);
                      tiposDeUsuarioPorPais(response.Item2, e.dataPoint.label);

                  },
                  failure: function (response) {
                      alert('fallo');
                  },
                  error: function (response) {
                      alert('error');
                  }

              });




          }



      }
    habilidades();

    function paises() {

        var chart = new CanvasJS.Chart("paisesEstudiantes", {
            theme: "light2", //"light1", "light2", "dark1"
            animationEnabled: true,
            exportEnabled: true,
            title: {
                text: "Top de Paises"
            },
            axisX: {
                margin: 10,
                labelPlacement: "inside",
                tickPlacement: "inside"
            },
            axisY2: {

                titleFontSize: 14,
                includeZero: false,

            },
            data: [{
                type: "bar",
                axisYType: "secondary",
                yValueFormatString: "#",
                indexLabel: "{y}",
                dataPoints: @Html.Raw(TempData["GraficoPaises"])

              }]
        });
        chart.render();

    }
    paises()
     function habilidadesCertificados () {

          var chart = new CanvasJS.Chart("habilidadesEstudiantes1", {
	        animationEnabled: true,
	        theme: "light2", // "light1", "light2", "dark1", "dark2"
	        title:{
		        text: "Habilidades mas Frecuentes"
	        },
	        axisY: {
		        title: "Cantidad de Personas"
	        },
	        data: [{
		        type: "column",
		        showInLegend: false,
		        legendMarkerColor: "grey",
		        dataPoints:@Html.Raw(TempData["HabilidadesEstudiantesCertificados"])
	        }]
        });
        chart.render();

    }
    function idiomas() {

        var chart = new CanvasJS.Chart("graficoIdiomas", {
            animationEnabled: true,
            title: {
                text: "Idiomas Frecuentes"
            },
            axisY: {
                title: "Idiomas",
                
            },
            data: [{
                type: "splineArea",
                color: "rgba(54,158,173,.7)",
                markerSize: 5,
                xValueFormatString: "YYYY",
                yValueFormatString: "#,##0.##",
                dataPoints: @Html.Raw(TempData["GraficoIdiomas"])
	}]
        });
        chart.render();
    }
    idiomas();
    document.getElementById("totalEstudiantes").addEventListener("click", function () {
        if (document.getElementById("estudiantesEnCadaCurso").style.display === "none") {
            //document.getElementById("chartContainer2").hidden = false;
            document.getElementById("estudiantesEnCadaCurso").style.display = "block";
            estudiantesPorCurso()

        } else {
            document.getElementById("estudiantesEnCadaCurso").style.display = "none";
        }
    });

    function estudiantesPorCurso() { 
        var chart = new CanvasJS.Chart("estudiantesEnCadaCurso", {
            exportEnabled: true,
            animationEnabled: true,
            title: {
                text: "Distribucion de Estudiantes"
            },
            legend: {
                cursor: "pointer",
                itemclick: explodePie
            },
            data: [{
                type: "pie",
                 toolTipContent: "{label}: <strong>{y}%</strong>",
                indexLabel: "{label} - {y}%",
                dataPoints: @Html.Raw(TempData["GraficoEstudiantes"])
            }]
        });
        chart.render();
        function explodePie(e) {
            if (typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
                e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
            } else {
                e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
            }
            e.chart.render();

        }
    }
    function topicosMasComunes() {
        var chart = new CanvasJS.Chart("topicos", {
            animationEnabled: true,
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            title: {
                text: "Topicos Frecuentes"
            },
            axisY: {
                title: "Cantidad de Cursos Relacioandos"
            },
            data: [{
                type: "column",
               
                dataPoints: @Html.Raw(TempData["GraficoTopicos"]) 
            }]
        });
        
        chart.render();

    }
    topicosMasComunes();
    
    

     





</script>