@page
@model PIBasesISGrupo1.Pages.Curso.InscribirmeCursoModel
@{
    ViewData["Title"] = "InscribirmeCurso";
    var mensaje = (string)TempData["mensaje"];
    var esMiembro = (bool)ViewData["esMiembro"];
    var curso = (string)ViewData["nombreCurso"];
    var nombre = (string)ViewData["nombre"];
    var primerApellido = (string)ViewData["primerApellido"];
    var segundoApellido = (string)ViewData["segundoApellido"];
    var genero = (string)ViewData["genero"];
    var email = (string)ViewData["email"];
}

 
    <div class="comment-form">
         <div class="col-lg-4 offset-lg-1">
              <div class="register_form">
                <h3>Incribirme  a un Curso</h3>
                <form class="form_area"
                      id="myForm"
                      method="post"
                      enctype="multipart/form-data">
                    @if (esMiembro)
                    {
                        <div class="row">
                            <div class="col-lg-12 form_group">
                                <div class="row">

                                    <input asp-for="@curso" value="@curso" /><br /><br />
                                    <input asp-for="@nombre" value="@nombre" readonly /><br /><br />
                                    <input asp-for="@primerApellido" value="@primerApellido" readonly /><br /><br />
                                    <input asp-for="@segundoApellido" value="@segundoApellido" readonly /><br /><br />
                                    <input asp-for="@genero" value="@genero" readonly />
                                    <input asp-for="@email" value="@email" readonly />
                                </div>
                                <div class="card-columns">
                                    <input type="radio" asp-for="@Model.miembro.genero" value="Femenino" readonly />Femenino<br />
                                    <input type="radio" asp-for="@Model.miembro.genero" value="Masculino" readonly />Masculino<br />
                                    <input type="radio" asp-for="@Model.miembro.genero" value="Otro" readonly />Otro<br />
                                </div>
                                <div class="col-lg-12 text-center">
                                    <button class="primary-btn">Confirmar</button>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                         
                        <div class="col-lg-12 form_group">

                            <div class="row">
                                <input asp-for="@curso" value="@curso" /><br /><br />

                                <input asp-for="@Model.miembro.nombre"
                                       placeholder="tu nombre"
                                       required=""
                                       type="text" />


                                <input asp-for="@Model.miembro.primerApellido"
                                       placeholder="Tu primer apellido"
                                       required=""
                                       type="text" />
                                <input asp-for="@Model.miembro.segundoApellido"
                                       placeholder="Tu segundo apellido"
                                       type="text" />
                             

                                <input asp-for="@Model.miembro.email"
                                       placeholder="Tu email"
                                       type="email"
                                       required="" />

                             </div>
                            <div class="card-columns">
                                <input type="radio" asp-for="@Model.miembro.genero" value="Femenino" />Femenino<br />
                                <input type="radio" asp-for="@Model.miembro.genero" value="Masculino" />Masculino<br />
                                <input type="radio" asp-for="@Model.miembro.genero" value="Otro" />Otro<br />
                            </div>
                            </div>
                            <div class="col-lg-12 text-center">
                                <button class="primary-btn">Confirmar</button>
                            </div>
                         
                    }
                </form>

              </div>
            </div>
 
    </div>