@page
@model PIBasesISGrupo1.Pages.Curso.InscribirmeCursoModel
@{
    ViewData["Title"] = "InscribirmeCurso";
    var mensaje = (string)TempData["mensaje"];
    var esMiembro = (bool)ViewData["esMiembro"];
    var curso = (string)ViewData["nombreCurso"];
    var nombre = (string)ViewData["nombre"];
    var primerApellido = (string)ViewData["primerApellido"];
    var segundoApellido = (string)ViewData["segundoApellido"];
    var genero = (string)ViewData["genero"];
    var email = (string)ViewData["email"];
}

<h2>Inscribirme en un Curso</h2>
<form class="form_area" method="post" enctype="multipart/form-data">
    @if (@mensaje != null)
    {
        if ((bool)TempData["exitoAlEditar"])
        {
            <div class="alert-success">
                <h3> @mensaje </h3>
            </div>
        }
        else
        {
            <div class="alert-danger">
                <h3> @mensaje </h3>
            </div>
        }
    }
    @{if (esMiembro)
        {
            <label asp-for="@curso">Nombre del curso</label><br>
            <input asp-for="@curso" value="@curso" readonly /><br /><br />

            <label asp-for="@nombre">Nombre: </label><br>
            <input asp-for="@nombre" value="@nombre" readonly /><br /><br />

            <label asp-for="@primerApellido">Primer apellido: </label><br>
            <input asp-for="@primerApellido" value="@primerApellido" readonly /><br /><br />

            <label asp-for="@segundoApellido">Segundo apellido: </label><br>
            <input asp-for="@segundoApellido" value="@segundoApellido" readonly /><br /><br />

            <label asp-for="@genero">Genero: </label><br>
            <input asp-for="@genero" value="@genero" readonly /><br /><br />

            <label asp-for="@email">Email: </label><br>
            <input asp-for="@email" value="@email" readonly /><br /><br />
        }
        else
        {
            <label asp-for="@curso">Nombre del curso</label><br>
            <input asp-for="@curso" value="@curso"/><br /><br />

            <label asp-for="@Model.miembro.nombre">Nombre: </label><br>
            <input asp-for="@Model.miembro.nombre"/><br /><br />

            <label asp-for="@Model.miembro.primerApellido">Primer apellido: </label><br>
            <input asp-for="@Model.miembro.primerApellido"/><br /><br />

            <label asp-for="@Model.miembro.segundoApellido">Segundo apellido: </label><br>
            <input asp-for="@Model.miembro.segundoApellido"/><br /><br />

            <label asp-for="@Model.miembro.genero">Genero: </label><br>
            <input asp-for="@Model.miembro.genero"/><br /><br />

            <label asp-for="@Model.miembro.email">Email: </label><br>
            <input asp-for="@Model.miembro.email"/><br /><br />
        }
    }

    <input type="hidden" asp-for="@Model.curso.nombre" value="@curso" />
    <input type="submit" value=" Enviar" class="btn btn-success" />
</form>
 