@page
@model PIBasesISGrupo1.Pages.Curso.ModificarSeccionModel
@{
    ViewData["Title"] = "ModificarSeccion";
    var nombreCurso = (String)ViewData["nombreCurso"];
    var nombreSeccion = (String)ViewData["nombreSeccion"];
    var listaMateriales = (List<PIBasesISGrupo1.Models.MaterialModel>)ViewData["listaMateriales"];
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<div style="margin-left:200px; margin-right:200px;">
    <div class="curso-material" style="display:flex;">
        <div style="margin-bottom: 10px;margin-left:10px;">
            <h2><strong>Modificar seccion: @nombreSeccion</strong></h2>
        </div>

        <div style="margin-top: 20px; margin-left:10px; display:inline-block;">
            <a asp-page="ModificarNombreSeccion" asp-route-nombreCurso="@nombreCurso" asp-route-nombreSeccion="@nombreSeccion" class="btn btn-info">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <form method="post" style="display:inline-block;">
                <input type="hidden" asp-for="@Model.seccion.nombreCurso" value="@nombreCurso" />
                <input type="hidden" asp-for="@Model.seccion.nombreSeccion" value="@nombreSeccion" />

                <button type="submit" class="btn btn-info" asp-page-handler="BorrarSeccion">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>

            </form>


        </div>
    </div>

    <br />
    <div style="margin-left:50px;">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <h3 style="display:flex;"><strong>Nombre material</strong></h3>
                    </th>
                    <th>
                        <a asp-page="AgregarMaterial" asp-route-nombreCurso="@nombreCurso" asp-route-nombreSeccion="@nombreSeccion" class="btn btn-info">
                            <span class="glyphicon glyphicon-plus-sign"></span> Agregar material
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (listaMateriales != null)
                    {
                        foreach (var item in listaMateriales)
                        {
                            <tr>
                                <td>
                                    <h4 style="display:flex;">@item.nombreMaterial</h4>
                                </td>
                                <td style="margin-left:50%">
                                    <form method="post">
                                        <input type="hidden" asp-for="@Model.material.nombreDeCurso" value="@nombreCurso" />
                                        <input type="hidden" asp-for="@Model.material.nombreDeSeccion" value="@nombreSeccion" />
                                        <input type="hidden" asp-for="@Model.material.nombreMaterial" value="@item.nombreMaterial" />


                                        <button type="submit" class="btn btn-info" asp-page-handler="BorrarMaterial">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>

                                    </form>

                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="curso-material">

        <a asp-page="CursoCreado" asp-route-nombreCurso="@nombreCurso" class="btn btn-info" style="margin-left:58%; margin-bottom:3px; margin-top:3px;">
            <span class="glyphicon glyphicon-ok"></span> Terminar
        </a>
    </div>
</div>

