@page
@model PIBasesISGrupo1.Pages.Curso.ModificarSeccionModel
@{
    ViewData["Title"] = "ModificarSeccion";
    var nombreCurso = (String)ViewData["nombreCurso"];
    var nombreSeccion = (String)ViewData["nombreSeccion"];
    var listaMateriales = (List<PIBasesISGrupo1.Models.MaterialModel>)ViewData["listaMateriales"];
}

<h2>ModificarSeccion</h2>


    <a asp-page="CursoCreado" asp-route-nombreCurso="@nombreCurso" class="primary-btn2 text-uppercase enroll rounded-0">Volver</a>
    <a asp-page="AgregarMaterial" asp-route-nombreCurso="@nombreCurso" asp-route-nombreSeccion="@nombreSeccion" class="primary-btn2 text-uppercase enroll rounded-0">Agregar material</a>
    

<br/>

<table class="table">
    <thead>
        <tr>
            <th>
                <h3>Nombre material</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            if (listaMateriales != null)
            {
                foreach (var item in listaMateriales)
                {
                    <tr>
                        <td>
                            @item.nombreMaterial
                            
                        </td>
                        <td>
                            <form method="post">
                                <input type="hidden" asp-for="@Model.material.nombreDeCurso" value="@nombreCurso" />
                                <input type="hidden" asp-for="@Model.material.nombreDeSeccion" value="@nombreSeccion" />
                                <input type="hidden" asp-for="@Model.material.nombreMaterial" value="@item.nombreMaterial" />
                                <input type="submit" value="Borrar" class="primary-btn2 text-uppercase enroll rounded-0" asp-page-handler="BorrarMaterial" />
                            </form>
                            
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>