@page
@model PIBasesISGrupo1.Pages.Curso.ModificarSeccionModel
@{
    ViewData["Title"] = "ModificarSeccion";
    var nombreCurso = (String)ViewData["nombreCurso"];
    var nombreSeccion = (String)ViewData["nombreSeccion"];
    var listaMateriales = (List<PIBasesISGrupo1.Models.MaterialModel>)ViewData["listaMateriales"];
}

<div style="margin-left:200px; margin-right:200px;">
    <div class="curso-material" >
        <div style="display:flex;margin-left:10px;margin-bottom:20px; padding-top:20px">
            <div style="display:flex;margin:20px 10px;">
                <h2><strong>Modificar seccion: @nombreSeccion</strong></h2>
            </div>

            <div style=" margin-left:30px; margin-top:10px; ">
                <a asp-page="ModificarNombreSeccion" asp-route-nombreCurso="@nombreCurso" asp-route-nombreSeccion="@nombreSeccion" class="primary-btn__reverse text-uppercase enroll rounded-0">
                    <i class="ti-pencil-alt" aria-hidden="false"></i> Editar
                </a>
                <form method="post" style="display:inline-block;">
                    <input type="hidden" asp-for="@Model.seccion.nombreCurso" value="@nombreCurso" />
                    <input type="hidden" asp-for="@Model.seccion.nombreSeccion" value="@nombreSeccion" />

                    <button type="submit" class="primary-btn__reverse text-uppercase enroll rounded-0" asp-page-handler="BorrarSeccion">
                        <i class="ti-trash" aria-hidden="false"></i> Borrar
                    </button>

                </form>

            </div>
        </div>
    </div>

    <br />
    <div style="margin-left:50px;">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <h3 style="display:flex;"><strong>Nombre material</strong></h3>
                    </th>
                    <th>
                        <a asp-page="AgregarMaterial" asp-route-nombreCurso="@nombreCurso" asp-route-nombreSeccion="@nombreSeccion" class="primary-btn__reverse text-uppercase enroll rounded-0">
                            <i class="ti-plus" aria-hidden="false"></i> Agregar material
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (listaMateriales != null)
                    {
                        foreach (var item in listaMateriales)
                        {
                            <tr>
                                <td>
                                    <h4 style="display:flex;">@item.nombreMaterial</h4>
                                </td>
                                <td style="margin-left:50%">
                                    <form method="post">
                                        <input type="hidden" asp-for="@Model.material.nombreDeCurso" value="@nombreCurso" />
                                        <input type="hidden" asp-for="@Model.material.nombreDeSeccion" value="@nombreSeccion" />
                                        <input type="hidden" asp-for="@Model.material.nombreMaterial" value="@item.nombreMaterial" />


                                        <button type="submit" class="primary-btn__reverse text-uppercase enroll rounded-0" asp-page-handler="BorrarMaterial">
                                            <i class="ti-trash" aria-hidden="false"></i> Borrar
                                        </button>

                                    </form>

                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="curso-material">

        <a asp-page="CursoCreado" asp-route-nombreCurso="@nombreCurso" class="primary-btn__reverse text-uppercase enroll rounded-0" style="margin:auto auto auto 87%;">
            <i class="ti-check" aria-hidden="false"></i> Terminar
        </a>
    </div>
</div>

