@page
@model PIBasesISGrupo1.Pages.Curso.PagarCursoModel
@{
    ViewData["Title"] = "PagarCurso";
    var nombre = (string)TempData["nombre"];
    var primerApellido = (string)TempData["primerApellido"];
    var segundoApellido = (string)TempData["segundoApellido"];
    var email = (string)TempData["email"];
    var genero = (string)TempData["genero"];
    var nombreDeCurso = (string)TempData["nombreCurso"];
    var mensaje = (string)TempData["mensaje"];
}

<style type="text/css">

    body {
        background-image: url("/img/registro/loginEstudiante.jpg");
        background-size: 100%;
    }

    .center-login {
        margin: 0;
        margin-left: 30%;
    }

    .left-login {
        text-align: left;
    }
</style>


<div class="modal-dialog" role="document">
    <div class="modal-content center">
        <div class="modal-header">
            <div class="center-login">
                <img class="logo-2" src="~/img/logo.png" alt="" />
            </div>
        </div>
        <div class="modal-body">
            <h1 class="modal-title">Pagar curso</h1>
            <form class="form_area"
                  id="myForm"
                  method="post"
                  enctype="multipart/form-data">
                @if (@mensaje != null)
                {
                    if ((bool)TempData["exitoAlEditar"])
                    {
                        <div class="alert-success">

                            <h3> @mensaje </h3>
                        </div>
                    }
                    else
                    {
                        <div class="alert-danger">

                            <h3> @mensaje </h3>
                        </div>
                    }
                }
                </br>
                <label for="file-upload" class="subir">
                    <i class="fas fa-cloud-upload-alt"></i> Para completar su incripción del curso, por favor a continuación suba su comprobante de pago en el que tenga su nombre completo, además el nombre del curso como concepto de pago y el monto cancelado. 
                </label>
                 <input asp-for="@Model.comprobante" type="file" class="btn btn alert-info" /></br></br>

                    <div class="center-login">
                    <button class="primary-btn" asp-route-nombre="@nombre" asp-route-primerApellido="@primerApellido" asp-route-segundoApellido="@segundoApellido" asp-route-email="@email" asp-route-genero="@genero" asp-route-nombreCurso="@nombreDeCurso" asp-route-esMiembro="@ViewData["esMiembro"]" asp-page-handler="AñadirEstudiante">Inscribirme</button>
                </div>
            </form>
        </div>
    </div>
</div>


