@page
@model PIBasesISGrupo1.Pages.Encuestas.CrearEncuestaModel
@{
    ViewData["Title"] = "CrearEncuesta";
}
<h2>CrearEncuesta</h2>

<form method="post">
    <input asp-for="@Model.encuesta.nombreEncuesta" placeholder="Nombre de la encuesta" /> <br /><br />
    <input asp-for="@Model.encuesta.autor" placeholder="Autor" /> <br /><br />
    <input asp-for="@Model.encuesta.categoria" placeholder="Categoria" /> <br /><br />
    <input asp-for="@Model.encuesta.topico" placeholder="Topico" /> <br /><br />
    <input asp-for="@Model.encuesta.vigencia" placeholder="Vigencia" /> <br /><br />
    <input type="submit" value=" Crear encuesta" asp-page-handler="Encuesta" />
</form>