@page
@model PIBasesISGrupo1.Pages.Encuestas.CrearEncuestaModel
@{
    ViewData["Title"] = "CrearEncuesta";
    var topicosYCategorias = (List<Tuple<string, string>>)ViewData["TopicosYCategorias"];
}
<h2>Crear Encuesta</h2>

<form method="post">
    <label asp-for="@Model.encuesta.nombreEncuesta">Nombre de la encuesta</label><br>
    <span asp-validation-for="@Model.encuesta.nombreEncuesta" class="text-danger"></span><br />
    <textarea rows="5" cols="125" asp-for="@Model.encuesta.nombreEncuesta"></textarea><br /><br />

    <label asp-for="@Model.encuesta.autor">Autor de la encuesta</label><br>
    <span asp-validation-for="@Model.encuesta.autor" class="text-danger"></span><br />
    <textarea rows="5" cols="125" asp-for="@Model.encuesta.autor"></textarea><br /><br />



    <strong>Seleccione Topico </strong>
    <span asp-validation-for="@Model.encuesta.topico" class="text-danger"></span><br />
    </br>
    @{
        <select class="mul-select" asp-for="@Model.encuesta.topico" size="@topicosYCategorias.Count" multiple="multiple">
            @foreach (var topicoYCategoria in topicosYCategorias)
            {

                <option value="@topicoYCategoria.Item1">Topico:@topicoYCategoria.Item1 Categoria:@topicoYCategoria.Item2</option>

                <br>
            }
        </select>
    }
    <br>
    <br>
    <label asp-for="@Model.encuesta.vigencia">Vigencia</label>
    <span asp-validation-for="@Model.encuesta.vigencia" class="text-danger"></span><br />
    <input asp-for="@Model.encuesta.vigencia" /><br /><br />
    <input type="submit" value=" Crear encuesta" class="primary-btn2 text-uppercase enroll rounded-0" asp-page-handler="Encuesta" />
</form>
<br /><a asp-page="PaginaInicioEncuesta" class="primary-btn2 text-uppercase enroll rounded-0">Volver</a>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
