@page
@model PIBasesISGrupo1.Pages.Encuestas.EditarEncuestaModel
@{
    ViewData["Title"] = "EditarEncuesta";
    var topicosYCategorias = (List<Tuple<string, string>>)ViewData["TopicosYCategorias"];
}
<h2>Editar Encuesta</h2>

<form method="post">
    <label asp-for="@Model.encuesta.nombreEncuesta">Nombre de la encuesta</label><br>
    <span asp-validation-for="@Model.encuesta.nombreEncuesta" class="text-danger"></span><br /><br />
    <textarea rows="5" cols="125" asp-for="@Model.encuesta.nombreEncuesta" placeholder="@Model.encuesta.nombreEncuesta"></textarea><br /><br />

    <input type="hidden" asp-for="@Model.encuesta.id" />

    <label asp-for="@Model.encuesta.correo">Correo del autor de la encuesta</label><br>
    <span asp-validation-for="@Model.encuesta.correo" class="text-danger"></span><br />
    <textarea rows="5" cols="125" asp-for="@Model.encuesta.correo" placeholder="@Model.encuesta.correo"></textarea><br /><br />
    
    <strong>Seleccione Topico </strong>
    <span asp-validation-for="@Model.encuesta.topico" class="text-danger"></span><br />
    </br>
    @{
        <select asp-for="@Model.encuesta.topico" value="@Model.encuesta.topico" size="@topicosYCategorias.Count">
            @foreach (var topicoYCategoria in topicosYCategorias)
            {

                <option value="@topicoYCategoria.Item1">Topico:@topicoYCategoria.Item1 Categoria:@topicoYCategoria.Item2</option>

                <br>
            }
        </select>
    }
    <br>
    <br>


    <label asp-for="@Model.encuesta.vigencia">Vigencia</label><br>
    <span asp-validation-for="@Model.encuesta.vigencia" class="text-danger"></span><br />
    <input asp-for="@Model.encuesta.vigencia" placeholder="@Model.encuesta.vigencia" /><br /><br />
    <input type="submit" value=" Modificar encuesta" class="primary-btn2 text-uppercase enroll rounded-0" asp-page-handler="ModificarEncuesta" />
</form>

<br /><a asp-page="PaginaInicioEncuesta" class="primary-btn2 text-uppercase enroll rounded-0">Volver</a>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
