@page
@model PIBasesISGrupo1.Pages.Encuestas.IndexPreguntasModel
@{
    ViewData["Title"] = "IndexPreguntas";
}

<h2>IndexPreguntas</h2>
<p>
    <a asp-page="CrearPregunta" asp-route-id="@ViewData["id"]">Crear pregunta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <h3>Preguntas</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            if ((List<PIBasesISGrupo1.Models.PreguntaModel>)Model.preguntas != null)
            {
                foreach (var item in (List<PIBasesISGrupo1.Models.PreguntaModel>)Model.preguntas)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.pregunta)
                        </td>
                        <td>

                            <a asp-page="./EditarPregunta" asp-route-idEnc="@item.encuestaID" asp-route-idPreg="@item.preguntaID">Editar</a>
                            
                            <a asp-page="./BorrarPregunta"  asp-route-idEnc="@item.encuestaID" asp-route-idPreg="@item.preguntaID"> Borrar </a>
                        </td>
                    </tr>




                }
            }
        }
    </tbody>
</table>