@page
@model PIBasesISGrupo1.Pages.Encuestas.IndexPreguntasModel
@{
    ViewData["Title"] = "IndexPreguntas";
}

<h2>Lista de preguntas</h2>
<p>
    <a asp-page="CrearPregunta" asp-route-id="@ViewData["id"]">Crear pregunta</a>
    <a asp-page="PaginaInicioEncuesta">Volver</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <h3>Preguntas</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            if ((List<PIBasesISGrupo1.Models.PreguntaModel>)Model.preguntas != null)
            {
                foreach (var item in (List<PIBasesISGrupo1.Models.PreguntaModel>)Model.preguntas)
                {
                    <tr>
                        <td>
                            <b>Pregunta: </b>@Html.DisplayFor(modelItem => item.pregunta)<br>
                            <b>Opción 1: </b>@Html.DisplayFor(modelItem => item.opcion1)<br>
                            <b>Opción 2: </b> @Html.DisplayFor(modelItem => item.opcion2)<br>
                            <b>Opción 3: </b>@Html.DisplayFor(modelItem => item.opcion3)<br>
                            <b>Opción 4: </b>@Html.DisplayFor(modelItem => item.opcion4)
                        </td>
                        <td>

                            <a asp-page="./EditarPregunta" asp-route-idEnc="@item.encuestaID" asp-route-idPreg="@item.preguntaID">Editar</a>
                            
                            <a asp-page="./BorrarPregunta" asp-route-idEnc="@item.encuestaID" asp-route-idPreg="@item.preguntaID">Borrar</a>
                        </td>
                    </tr>




                }
            }
        }
    </tbody>
</table>