@page
@model PIBasesISGrupo1.Pages.Encuestas.MostrarRespuestasModel
@{
    ViewData["Title"] = "MostrarRespuestas";
    var listaConteoRespuestasPorOpcion = (List<int>)ViewData["listaConteoRespuestasPorOpcion"];
    var listaConteoRespuestasPorPregunta = (List<int>)ViewData["listaConteoRespuestasPorPregunta"];
}
<script>
    function animacionResultados(cantidadMaterialTotal, cantidadMaterialVisto, nombreOpcion) {
        var elem = document.getElementById(nombreOpcion);
        var width = 1;
        var id = setInterval(frame, 1);
        function frame() {
            if (width >= (cantidadMaterialVisto / cantidadMaterialTotal) * 100) {
                clearInterval(id);
            } else {
                width++;
                elem.style.width = width + "%";
                elem.innerHTML = parseInt((cantidadMaterialVisto / cantidadMaterialTotal) * 100) + "% (" + cantidadMaterialVisto + ")";
            }
        }
        if (cantidadMaterialVisto == 0) {
            elem.style.background = "#777777";
            elem.innerHTML = parseInt((cantidadMaterialVisto / cantidadMaterialTotal) * 100) + "% (" + cantidadMaterialVisto + ")";
        }
    }
</script>

<div class="encuestas__title">
    <h2>Ver respuestas</h2>
</div>
@{
    int numeroPregunta = 0;
    int numeroOpcion = 0;
    foreach (var item in (List<PIBasesISGrupo1.Models.PreguntaModel>)Model.listaPreguntas)
    {
        <div class="encuestas__elements">

            @{
                <h4>@Html.DisplayFor(modelItem => item.pregunta)</h4>
                <div class="encuestas__options">
                    <div class="encuestas__option">
                        <h5>Opcion 1:</h5>
                        <p>
                            @Html.DisplayFor(modelItem => item.opcion1)
                        </p>
                    </div>
                    <div class="encuestas__option">
                            <div class="encuestas__results">
                                <div class="encuestas__progressBar" id="@numeroOpcion">
                                </div>
                            </div>
                        </div>
                        <script>
                             animacionResultados(@listaConteoRespuestasPorPregunta[numeroPregunta],@listaConteoRespuestasPorOpcion[numeroOpcion],@numeroOpcion);
                        </script>
                </div>

                numeroOpcion++;
                <div class="encuestas__options">
                    <div class="encuestas__option">
                        <h5>Opcion 2:</h5>
                        <p>
                            @Html.DisplayFor(modelItem => item.opcion2)
                        </p>
                    </div>

                    <div class="encuestas__option">
                        <div class="encuestas__results">
                            <div class="encuestas__progressBar" id="@numeroOpcion">
                            </div>
                            <script>
                                 animacionResultados(@listaConteoRespuestasPorPregunta[numeroPregunta],@listaConteoRespuestasPorOpcion[numeroOpcion],@numeroOpcion);
                            </script>
                        </div>


                    </div>
                </div>
                numeroOpcion++;

                if (listaConteoRespuestasPorOpcion[numeroOpcion] >= 0)
                {
                    <div class="encuestas__options">
                        <div class="encuestas__option">
                            <h5>Opcion 3:</h5>
                            <p>
                                @Html.DisplayFor(modelItem => item.opcion3)
                            </p>

                        </div>
                        <div class="encuestas__option">
                            <div class="encuestas__results">
                                <div class="encuestas__progressBar" id="@numeroOpcion">
                                </div>
                            </div>
                            <script>
                                 animacionResultados(@listaConteoRespuestasPorPregunta[numeroPregunta],@listaConteoRespuestasPorOpcion[numeroOpcion],@numeroOpcion);
                            </script>
                        </div>
                    </div>
                }
                numeroOpcion++;
                if (listaConteoRespuestasPorOpcion[numeroOpcion] >= 0)
                {
                    <div class="encuestas__options">
                        <div class="encuestas__option">
                            <h5>Opcion 4:</h5>
                            <p>
                                @Html.DisplayFor(modelItem => item.opcion4)
                            </p>

                        </div>

                        <div class="encuestas__option">
                            <div class="encuestas__results">
                                <div class="encuestas__progressBar" id="@numeroOpcion">
                                </div>
                                <script>
                                    animacionResultados(@listaConteoRespuestasPorPregunta[numeroPregunta],@listaConteoRespuestasPorOpcion[numeroOpcion],@numeroOpcion);
                                </script>
                            </div>
                        </div>
                    </div>
                }
                numeroOpcion++;
                numeroPregunta++;
            }

        </div>
    }
}
        <a asp-page="PaginaInicioEncuesta" class="primary-btn2 text-uppercase enroll rounded-0">Volver</a>
