@page
@model PIBasesISGrupo1.Pages.Encuestas.RespuestasEncuesta.ResponderEncuestaModel
@{
    ViewData["Title"] = "ResponderEncuesta";
    var listaPreguntas = (List<PIBasesISGrupo1.Models.PreguntaModel>)ViewData["preguntas"];

}

<h2>Responder Encuestas</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <h3>Nombre de Encuesta</h3>
            </th>
            <th>
                <h3>Categoría</h3>
            </th>
            <th>
                <h3>Tópico</h3>
            </th>
            <th>
                <h3>Autor</h3>
            </th>
            <th>
                <h3>Vigencia</h3>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.encuesta != null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.encuesta.nombreEncuesta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.encuesta.categoria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.encuesta.topico)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.encuesta.autor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.encuesta.vigencia) días
                    </td>
                </tr>
            }
        }
    </tbody>
</table>



<h3>Lista de preguntas:</h3>

@{
    if (listaPreguntas != null)
    {


        foreach (var @item in @listaPreguntas)
        {
            <form method="post">
                <b>Pregunta: </b>@Html.DisplayFor(modelItem => item.pregunta)<br>

                <input type="hidden" asp-for="@Model.respuesta.encuestaID" value="@item.encuestaID" />
                <input type="hidden" asp-for="@Model.respuesta.preguntaID" value="@item.preguntaID" />
                <input type="hidden" asp-for="@Model.respuesta.nombre" value="Anonimo" />
                
                <input type="hidden" asp-for="@Model.preguntaBorrada.encuestaID" value="@item.encuestaID" />
                <input type="hidden" asp-for="@Model.preguntaBorrada.preguntaID" value="@item.preguntaID" />
                <input type="hidden" asp-for="@Model.preguntaBorrada.pregunta" value="@item.pregunta" />
                <input type="hidden" asp-for="@Model.preguntaBorrada.opcion1" value="@item.opcion1" />
                <input type="hidden" asp-for="@Model.preguntaBorrada.opcion2" value="@item.opcion2" />
                <input type="hidden" asp-for="@Model.preguntaBorrada.opcion3" value="@item.opcion3" />
                <input type="hidden" asp-for="@Model.preguntaBorrada.opcion4" value="@item.opcion4" />

                <input type="radio" name="opcion" id="opcion1" value="@item.opcion1" />@item.opcion1 <br>
                <input type="radio" name="opcion" id="opcion2" value="@item.opcion2" />@item.opcion2<br>
                @if (item.opcion3 != "")
                {
                    <input type="radio" name="opcion" id="opcion3" value="@item.opcion3" />@item.opcion3<br>
                }
                @if (item.opcion4 != "")
                {
                    <input type="radio" name="opcion" id="opcion4" value="@item.opcion4" />@item.opcion4<br>
                }


                <input type="hidden" asp-for="@Model.preguntas" value="@listaPreguntas" />


                <input type="submit" value="Enviar respuesta" asp-page-handler="Respuesta" asp-route-pregunta ="@Model."/>
            </form>
            <label>---------------------------------------------------------------------------------------------------------------------------------------</label>
            <br />
        }
    }
}

